Repository a10pepo/EDEM_MDA2324, pull requests merged in 2023-11, with the labels that each got.

#37 Script.sh
  Alumnos/FS/Pablo Martí Nomdedeu/19/10/readme.nd
  Alumnos/FS/Pablo Martí Nomdedeu/Linux/Linux comandos
  Alumnos/FS/Pablo Martí Nomdedeu/Linux/script.sh
  Alumnos/FS/Pablo Martí Nomdedeu/readme 2.md
  Alumnos/FS/Pablo Martí Nomdedeu/readme.md
Labels: pendingwork

#136 Entregable linux Antonio Faura
  Alumnos/ES/ANTONIO_FAURA/Linux.md
Labels: linux

#142 SQL_Ejercicios
  Alumnos/FS/CRISTIAN_MARTY/6_SQL/Script_Clase_1.sql
Labels: sql

#138 SQL
  Alumnos/FS/ALBERTO_DE_GEA/SQL/ejer1.sql
Labels: sql

#139 create sql archivo
  Alumnos/FS/Stas Korotchenko/Contenedores/Dockerfile
  Alumnos/FS/Stas Korotchenko/Contenedores/script_contenedores.py
  Alumnos/FS/Stas Korotchenko/Contenedores/Снимок экрана 2023-10-22 в 20.58.57.png
  Alumnos/FS/Stas Korotchenko/sql_stas.sql
Labels: sql

#141 Python_Proyecto_Final_Martinimagina
  Alumnos/FS/CRISTIAN_MARTY/5_Python/final_python.py
Labels: python

#87 Readme + python
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 1/Ejercicio 1/Ej1.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 1/Ejercicio 2/Ej2.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 2/Ej1.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 3/Ejercicio 1/Ej1.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 3/Ejercicio 2/Ej2.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 3/Ejercicio 3/Ej3.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 4/Ejercicio 1/Ej1.ipynb
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 4/Ejercicio 2/Ej2.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 4/Ejercicio 3/Ej3.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 5/Ejercicio 1/EJ1.py
  Alumnos/FS/ANDRES_CERVERA/readme.md
Labels: python

#147 PRIMER EJERCICIO NOTEBOOK
  Alumnos/ES/Jorge_Dominguez/Notebooks/F1.ipynb
Labels: notebook

#143 Ahorcado bueno
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/END2END/ahorcado.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/END2END/dic_esp.csv
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/END2END/dockerfile
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/END2END/palabras.csv
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Linux/README.md
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Notebooks/Data/salaries.csv
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Notebooks/data_salary.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_avanzados/requirements.txt
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_avanzados/reto1.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto1.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto10.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto2.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto3y4.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto5.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto6.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto7.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto8.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/Retos_basicos/reto9.py
Labels: python, linux, ahorcado

#132 EJERCICIO LINUX
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/LINUX.md
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/LINUX/ejercicio_linux.md
Labels: linux

#123 Update linux
  Alumnos/ES/BALMA_AGOST/Linux/README.md
Labels: linux

#140 Updated work
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Ahorcado/ahorcado.py
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Ahorcado/dockerfile
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Ahorcado/palabras.txt
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Ahorcado/requirements.txt
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Linux/README.md
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Linux/script1410.sh
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Notebooks/csv/countries_gdp_hist.csv
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Notebooks/csv/salary_data.csv
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Notebooks/csv/world_population.csv
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Notebooks/estudio_kaggle.ipynb
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Python/proyecto_final.py
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/docker/captura_docker.png
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/docker/dockerfile
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/docker/suma_python.py
Labels: python, linux, ahorcado, docker

#131 Docker entregable
  Alumnos/FS/CRISTIAN_MARTY/4_Docker/Print_error_docker_suma.png
  Alumnos/FS/CRISTIAN_MARTY/4_Docker/dockerfile
  Alumnos/FS/CRISTIAN_MARTY/4_Docker/print_docker_suma_resuelto!.png
  Alumnos/FS/CRISTIAN_MARTY/4_Docker/script_docker.py
Labels: docker

#170 Sql
  Alumnos/FS/ALBERTO_DE_GEA/SQL/clase 1/ejer1.sql
  Alumnos/FS/ALBERTO_DE_GEA/SQL/clase 2/sesion2.sql
  Alumnos/FS/ALBERTO_DE_GEA/SQL/clase 3/Script clase 3.sql
  Alumnos/FS/ALBERTO_DE_GEA/SQL/test.py
Labels: sql

#137 EJERCICIOS PYTHON SESION 1-3
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/main.py
Labels: python

#167 entregables python
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/Proyecto final/proyectofinal.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 1/Ejercicio 1/HelloWorld.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 1/Ejercicio 2/HelloWorld2.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 2/Ejercicio 1/inversión.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 3/Ejercicio 1/inversion2.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 3/Ejercicio 2/primos.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 3/Ejercicio 3/bisisesto.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 4/Ejercicio 1/funciones.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 4/Ejercicio 3/peticiones.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Python/ejercicios/entregables/Sesion 5/Ejercicio 2 y 3/auto.py
Labels: python

#145 NOTEBOOK GOOGLE COLAB.ipynb
  Alumnos/ES/Diego_Pitarch/notebooks/NBA.ipynb
Labels: pendingwork, notebook

#164 CHUCK PREVIA
  Alumnos/ES/Francisco_Tudela/CHUCK/CHUCKY.py
  Alumnos/ES/Francisco_Tudela/CHUCK/CHUCK_ANALYSIS.ipynb
  Alumnos/ES/Francisco_Tudela/CHUCK/chuky.sh
Labels: chuck

#200 SQL
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/SQL/queries.sql
Labels: sql

#173 OfficeLuisSegura.ipynb
  Alumnos/ES/Luis_Segura/LinuxEntrega/OfficeLuisSegura.ipynb
  Alumnos/ES/Luis_Segura/OfficeLuisS.ipynb
Labels: notebook

#198 EJERCICIOS SQL
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/SQL/scripts_sql.sql
Labels: sql

#196 ACTUALIZACIÓN PYTHON
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/PYTHON/ejercicios_sesiones/ejercicios_sesion123/main.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/PYTHON/retos_python/retos_basicos.py
Labels: python

#95 Proyecto final python
  Alumnos/FS/ALBERTO_DE_GEA/DOCKER/.DS_Store
  Alumnos/FS/Stas Korotchenko/python/proyecto_final.py
Labels: python

#150 cambios 2
  Alumnos/FS/MAR-PONS-VALVERDE/CHUCK/main.py
  Alumnos/FS/MAR-PONS-VALVERDE/CHUCK/script.sh
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicio_linux/EJERCICIO LINUX(1).md
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 1/ejercicio1.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 1/ejercicio2.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 2/ejercicio1.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 3/ejercicio1.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 3/ejercicio2.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 3/ejercicio3.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 4/ejercicio1.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 4/ejercicio2.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/SESION 4/ejercicio3.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 2/numeros_primos.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 3/numeros_inverso.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 4/lista_inversa.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 5/contraseña.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 6/edad.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 7/variables.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto 8/primo.py
  Alumnos/FS/MAR-PONS-VALVERDE/ejercicios_python/retos_basicos/reto1/main.py
Labels: python

#163 Chuck norris
  Alumnos/ES/Javier_Ruiz/Chuck/chucky.ipynb
  Alumnos/ES/Javier_Ruiz/Chuck/python.py
  Alumnos/ES/Javier_Ruiz/Chuck/results/chistes.txt
  Alumnos/ES/Javier_Ruiz/Chuck/shell.sh
Labels: pendingwork, chuck

#192 Chuck Norris
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisBueno/Results/ChuckCasa.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisBueno/Results/ChuckCasa.sh
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisBueno/Results/ChuckCasa.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisBueno/Results/EjercicioRepasoClase091123.ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisClase/Results/Chuck.sh
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisClase/Results/ChuckCasa.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Chuck/ChuckNorrisClase/Results/Results.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/docker/dockerfile
Labels: pendingwork, chuck

#165 Draft_Respaso
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CHUCK/API.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CHUCK/script.sh
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CHUCK/value.txt
Labels: chuck

#238 Entregable final Python
  Alumnos/ES/Jorge_Dominguez/python/alumnos.json
  Alumnos/ES/Jorge_Dominguez/python/main.py
  README.md
Labels: python

#257 docker
  Alumnos/ES/NACHO_REYES/DOCKER/Dockerfile
  Alumnos/ES/NACHO_REYES/DOCKER/crear_imagen_docker.png
  Alumnos/ES/NACHO_REYES/DOCKER/ejecutar_archivo_py.png
  Alumnos/ES/NACHO_REYES/DOCKER/entregable_python.py
Labels: docker

#255 Entregable docker
  Alumnos/ES/BALMA_AGOST/Docker/Docker.py
  Alumnos/ES/BALMA_AGOST/Docker/Dockerfile
Labels: docker

#242 Docker ejercicio acabado
  Alumnos/ES/Francisco_Tudela/DOCKER/dockerfile
  Alumnos/ES/Francisco_Tudela/DOCKER/resultado.PNG
  Alumnos/ES/Francisco_Tudela/DOCKER/suma.py
Labels: docker

#244 docker deliverable v1
  Alumnos/ES/JULIAN_MERINO/docker/docker_jmp.png
  Alumnos/ES/JULIAN_MERINO/docker/dockerfile
  Alumnos/ES/JULIAN_MERINO/docker/entrypoint.sh
  Alumnos/ES/JULIAN_MERINO/docker/pysum.py
  Alumnos/ES/JULIAN_MERINO/docker/requirements.txt
  Profesores/.DS_Store
Labels: docker

#232 Entregable final docker
  Alumnos/ES/Jorge_Dominguez/docker/dockerfile
  Alumnos/ES/Jorge_Dominguez/docker/pysum.py
  Alumnos/ES/Jorge_Dominguez/docker/resultado.png
Labels: docker

#197 EJERCICIO DOCKER
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DOCKER/README.md
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DOCKER/captura.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DOCKER/dockerfile
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DOCKER/main.py
Labels: docker

#92 update
  Alumnos/FS/ALBERTO_DE_GEA/Python/PROYECTO FINAL/enunciado.txt
  Alumnos/FS/ALBERTO_DE_GEA/Python/PROYECTO FINAL/proyecto-final.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/retos Martín
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 1/ejercicio 1.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 1/ejercicio2.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 2/ejercicio.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 3/ejercicio1.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 3/ejercicio2.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 3/ejercicio3.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 4/ejercicio1.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 4/ejercicio2.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 4/ejercicio3.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 5/ejercicio1
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 5/ejercicio2.py
  Alumnos/FS/ALBERTO_DE_GEA/Python/sesion 5/ejercicio3.py
Labels: python

#49 Crear carpeta retos python
  Alumnos/FS/JUAN CORNEJO/RETOS PYTHON - MARTIN/R01y02_Final.py
  Alumnos/FS/JUAN CORNEJO/RETOS PYTHON - MARTIN/R01y02_preparation.py
  Alumnos/FS/JUAN CORNEJO/RETOS PYTHON - MARTIN/R11_Final.py
  Alumnos/FS/JUAN CORNEJO/RETOS PYTHON - MARTIN/R11_preparation.py
Labels: python
