Repository a10pepo/EDEM_MDA2324, pull requests merged in 2023-12, with the labels that each got.

#246 ENTREGABLE PYTHON
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/Python/proyecto.py
Labels: python

#278 Python_entregable_finalizado
  Alumnos/ES/NACHO_REYES/PYTHON/alumnos_pred.json
  Alumnos/ES/NACHO_REYES/PYTHON/funciones.py
  Alumnos/ES/NACHO_REYES/PYTHON/main.py
Labels: python

#264 Subida Proyecto Final Python
  Alumnos/FS/JUAN CORNEJO/PYTHON PROYECTO FINAL/PF_final.py
  Alumnos/FS/JUAN CORNEJO/PYTHON PROYECTO FINAL/PF_preparation.py
Labels: python

#263 Entregable Python
  Alumnos/ES/Miguel_Herrero/Python/alumnos.json
  Alumnos/ES/Miguel_Herrero/Python/main.py
Labels: python

#266 Update sql_script.sql
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jmp.sql
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_01.png
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_02.png
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_03.png
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_04.png
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_05.png
  Alumnos/ES/JULIAN_MERINO/sql/postgres_dvdrental_jumepe_06.png
  Alumnos/ES/JULIAN_MERINO/sql/sql_script.sql
Labels: sql

#261 Ejercicio SQL
  Alumnos/FS/JUAN CORNEJO/SQL/SESIÓN 7.sql
Labels: sql

#236 SQL ejercicios
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/SQL/Script.sql
Labels: sql

#297 SQL
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/SQL/SQL_Ejercicio_Fernando Cabrera.sql
Labels: sql

#292 entregables sesiones python
  Alumnos/ES/Jorge_Dominguez/python/entregables/s1.py
  Alumnos/ES/Jorge_Dominguez/python/entregables/s2.py
  Alumnos/ES/Jorge_Dominguez/python/entregables/s3.py
  Alumnos/ES/Jorge_Dominguez/python/entregables/s4.py
  Alumnos/ES/Jorge_Dominguez/python/entregables/s5.py
Labels: python

#294 retos_y_entregables_python
  Alumnos/ES/NACHO_REYES/PYTHON/EJERCICIOS_ENTREGABLES_SESIONES /entregable_sesion1.py
  Alumnos/ES/NACHO_REYES/PYTHON/EJERCICIOS_ENTREGABLES_SESIONES /entregable_sesion2.py
  Alumnos/ES/NACHO_REYES/PYTHON/EJERCICIOS_ENTREGABLES_SESIONES /entregable_sesion3.py
  Alumnos/ES/NACHO_REYES/PYTHON/EJERCICIOS_ENTREGABLES_SESIONES /entregable_sesion4.py
  Alumnos/ES/NACHO_REYES/PYTHON/EJERCICIOS_ENTREGABLES_SESIONES /entregable_sesion5.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto01.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto02.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto03.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto04.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto05.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto06.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto07.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto08.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto09.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto10.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto11.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto12.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto13.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto14.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto15.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto16.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto17.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto18.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto19.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto20.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto21.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto22.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto23.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto24.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto25.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto26.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto27.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto28.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto29.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_AVANZADOS/reto30.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto01.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto02.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto03.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto04.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto05.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto06.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto07.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto08.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto09.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto10.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto11.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto12.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto13.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto14.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto15.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto16.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto17.py
  Alumnos/ES/NACHO_REYES/PYTHON/PYTHON_RETOS/RETOS_BASICOS/reto18.py
Labels: python

#290 Ejercicios entregables python
  Alumnos/ES/INES_SOLER/PYTHON/Proyecto_final.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion1/Ejercicio1.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion1/Ejercicio2.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion2/Ejercicio1.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion3/Ejercicio1.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion3/Ejercicio2.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion3/Ejercicio3.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion4/Ejercicio1.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion4/Ejercicio2_Proyecto/Ejercicio2.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion4/Ejercicio2_Proyecto/requirements.txt
  Alumnos/ES/INES_SOLER/PYTHON/Sesion4/Ejercicio3.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion5/Ejercicio1.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion5/Ejercicio2.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion5/Ejercicio3.py
  Alumnos/ES/INES_SOLER/PYTHON/Sesion5/pokemon_data.csv
Labels: python

#308 Python
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/EjercicioFinal/__pycache__/alumnos.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/EjercicioFinal/__pycache__/functions.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/EjercicioFinal/alumnos.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/EjercicioFinal/functions.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/EjercicioFinal/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion1/Ejercicio2/ejercicio2.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion1/ejercicio1/ejercicio1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion2/ejercicio1/ejercicio1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion3/Ejercicio1/ejercicio1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion3/Ejercicio2/ejercicio2.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion3/Ejercicio3/ejercicio3.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion4/Ejercicio1/ejercicio1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion4/Ejercicio2/entornoVirual/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion4/Ejercicio2/entornoVirual/requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion4/Ejercicio3/ejercicio3.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio1/ejercicio1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio1/pokemon_data.csv
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio2/ejercicio2.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio3/__pycache__/ejercicio2.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio3/ejercicio2.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/Sesion5/ejercicio3/ejercicio3.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/ejercicio3.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/ejerciciosSesiones.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/Pendiente_revisar/Pendiente_Reto15.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/Pendiente_revisar/Pendiente_Reto16.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/Pendiente_revisar/Reto17.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/__pycache__/Reto13.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/__pycache__/funciones.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionTicketCompra.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionesRA1.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionlistarDiscosTienda.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionpedidoCompra.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/main.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/pedido.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/__pycache__/tienda.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/funcionTicketCompra.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/funcionlistarDiscosTienda.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/funcionpedidoCompra.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/pruebas.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado1y2/tienda.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosAvanzados/retoAvanzado3/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto1.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto10.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto11.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto12.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto13.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto14.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto18.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto2.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto3.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto4.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto5.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto6.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto7.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto8.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/Reto9.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/funciones.py
  Alumnos/ES/Josan_Rodrigo_Cortes/CursodePython/retos/retosBasicos/main.py
Labels: python

#303 Ejercicios Python
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO PYTHON/sesion1/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO PYTHON/sesion1/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO PYTHON/sesion2/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO PYTHON/sesion3/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO PYTHON/sesion3/ejercicio2/archivo.py
Labels: python

#302 AlumnosEntregablePython.py
  Alumnos/ES/Luis_Segura/Python/Alumnos.py
Labels: python

#300 entregable python
  Alumnos/ES/Diego_Pitarch/PYTHON/entregable_python.py
Labels: python

#327 Curso Python
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión1/Ejercicio1.1.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión1/Ejercicio1.2.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión2/Ejercicio2.1.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión3/Ejercicio3.1.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión3/Ejercicio3.2.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión3/Ejercicio3.3.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión4/Ejercicio4.1.py
  Alumnos/ES/BALMA_AGOST/PYTHON/Curso Python/Sesión4/Ejercicio4.3.py
Labels: python

#344 Ejercicio SQL
  Alumnos/ES/Yael_Larrosa/SQL/Paso2.PNG
  Alumnos/ES/Yael_Larrosa/SQL/Paso3y4.PNG
  Alumnos/ES/Yael_Larrosa/SQL/Paso5-General.PNG
  Alumnos/ES/Yael_Larrosa/SQL/Paso8.PNG
  Alumnos/ES/Yael_Larrosa/SQL/Paso9.PNG
  Alumnos/ES/Yael_Larrosa/SQL/README.md
  Alumnos/ES/Yael_Larrosa/SQL/Resultado.PNG
  Alumnos/ES/Yael_Larrosa/SQL/docker-compose.yml
  Alumnos/ES/Yael_Larrosa/SQL/dvdrental.tar
  Alumnos/ES/Yael_Larrosa/SQL/paso5-Connection.PNG
  Alumnos/ES/Yael_Larrosa/SQL/paso6.PNG
Labels: sql

#325 Entregable SQL
  Alumnos/ES/INES_SOLER/SQL/Docker_up.png
  Alumnos/ES/INES_SOLER/SQL/PGAdmin_connection.png
  Alumnos/ES/INES_SOLER/SQL/postgressetup-main/README.md
  Alumnos/ES/INES_SOLER/SQL/postgressetup-main/docker-compose.yml
  Alumnos/ES/INES_SOLER/SQL/postgressetup-main/dvdrental.tar
Labels: sql

#342 API exercise
  Alumnos/FS/Stas Korotchenko/FLASK/.dockerignore
  Alumnos/FS/Stas Korotchenko/FLASK/.gitignore
  Alumnos/FS/Stas Korotchenko/FLASK/.swagger-codegen-ignore
  Alumnos/FS/Stas Korotchenko/FLASK/.swagger-codegen/VERSION
  Alumnos/FS/Stas Korotchenko/FLASK/.travis.yml
  Alumnos/FS/Stas Korotchenko/FLASK/Dockerfile
  Alumnos/FS/Stas Korotchenko/FLASK/README.md
  Alumnos/FS/Stas Korotchenko/FLASK/git_push.sh
  Alumnos/FS/Stas Korotchenko/FLASK/requirements.txt
  Alumnos/FS/Stas Korotchenko/FLASK/setup.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/__init__.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/__main__.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/controllers/__init__.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/controllers/authorization_controller.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/controllers/default_controller.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/encoder.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/models/__init__.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/models/base_model_.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/models/measure.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/test/__init__.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/test/test_default_controller.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/type_util.py
  Alumnos/FS/Stas Korotchenko/FLASK/swagger_server/util.py
  Alumnos/FS/Stas Korotchenko/FLASK/test-requirements.txt
  Alumnos/FS/Stas Korotchenko/FLASK/tox.ini
Labels: flask

#356 PYTHON: Entregable final, Entregable sesiones y Retos
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregable_Python/Entregable_Python.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/API.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/Entregable_Sesion_1.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/Entregable_Sesion_2.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/Entregable_Sesion_3.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/Entregable_Sesion_4.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/Entregable_Sesion_5.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/main_pokemon.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/pokemon_data.csv
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Entregables_Sesiones/requirements.txt
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Avanzados/Reto_1.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Avanzados/Reto_2.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Avanzados/Reto_3.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Avanzados/Reto_4.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Avanzados/Reto_5.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_1.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_10.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_11.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_12.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_13.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_14.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_15.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_16.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_17.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_18.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_2.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_3.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_4.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_5.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_6.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_7.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_8.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/PYTHON/Retos/Retos_Básicos/Reto_9.py
Labels: python

#355 Python
  Alumnos/ES/BORJA_CABO/Python/Ejercicios_entregables/Ejercicios_sesion1.py
  Alumnos/ES/BORJA_CABO/Python/Ejercicios_entregables/Ejercicios_sesion2.py
  Alumnos/ES/BORJA_CABO/Python/Ejercicios_entregables/Ejercicios_sesion3.py
  Alumnos/ES/BORJA_CABO/Python/Ejercicios_entregables/Ejercicios_sesion4.py
  Alumnos/ES/BORJA_CABO/Python/Ejercicios_entregables/Ejercicios_sesion5.py
  Alumnos/ES/BORJA_CABO/Python/main.py
Labels: python

#366 Kafka | ejercicios de clase
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image10.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image11.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image12.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image13.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image14.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image15.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image16.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image17.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image7.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image8.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image9.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise2/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise2/img_1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/client.properties
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/consumer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/docker-compose.yml
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/dockerfile_consumer
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/dockerfile_producer
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/producer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/consumer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/producer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/docker-compose.yml
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_7.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_8.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/postgresqlSourceConnectConfig.json
Labels: kafka
