Repository a10pepo/EDEM_MDA2324, pull requests merged in 2024-07, with the labels that each got.

#698 EJERCICICO ESTADISTIA
  Alumnos/FS/Pablo Martí Nomdedeu/ESTADISTICA/Informe_Estadístico.ipynb
Labels: estadística

#752 Ejercicios MLOps
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Deployment/fast-api-server.py
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Deployment/metaflow_model_training.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Deployment/model.pkl
  Profesores/Deployment/model-registry/mlflow-basics.ipynb
Labels: mlops

#751 MLOPS
  Alumnos/FS/Pablo_Ivorra/MLOPS/Entregable 1 ML.jpg
  Alumnos/FS/Pablo_Ivorra/MLOPS/Entregable 3.png
  Alumnos/FS/Pablo_Ivorra/MLOPS/Entregable2.2MLOPs.png
  Alumnos/FS/Pablo_Ivorra/MLOPS/Entregable2MLOP.png
  Alumnos/FS/Pablo_Ivorra/MLOPS/Entregable3.2.png
  Alumnos/FS/Pablo_Ivorra/MLOPS/Grafico Flow.png
Labels: mlops

#750 ejercicios deployment
  Alumnos/FS/MAR-PONS-VALVERDE/DEPLOYMENT/model-registry/registry.png.png
  Alumnos/FS/MAR-PONS-VALVERDE/DEPLOYMENT/model-server/interfaz swagger.png
  Alumnos/FS/MAR-PONS-VALVERDE/DEPLOYMENT/model-server/modelo_entrenado.pkl
  Alumnos/FS/MAR-PONS-VALVERDE/DEPLOYMENT/model-server/peticion api.png
  Alumnos/FS/MAR-PONS-VALVERDE/DEPLOYMENT/pipelines/metaflow_model_training.ipynb
Labels: mlops

#746 Tasks - Deployment
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/requirements.txt
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task1/PRUEBA.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task1/app.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task1/model.pkl
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task1/train-simple-model.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/PRUEBA.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/mlserver/00-basic/sklearn-basic-example.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/mlserver/01-custom/custom-example.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/model-registry/mlflow-basics.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/model-registry/mlflow-training.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task2/model-registry/requirements.txt
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/PRUEBA.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow-basics.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow-model-training.ipynb
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow_basics_branchflow.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow_basics_foreachflow.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow_basics_linearflow.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow_basics_parameterflow.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/metaflow_trainingflow.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/random_forest_model.pkl
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEPLOYMENT/task3/pipelines/requirements.txt
Labels: mlops

#744 ENTREGA DEPLOYMENT
  Alumnos/ES/BALMA_AGOST/DEPLOYMENT/deployment.png
  Alumnos/ES/BALMA_AGOST/DEPLOYMENT/entrgable deployment3.jpeg
  Alumnos/ES/BALMA_AGOST/DEPLOYMENT/metaflow-model-training.png
Labels: mlops

#743 Deployment
  Alumnos/ES/Pau_Garcia/DEPLOYMENT/metaflow.jpeg
  Alumnos/ES/Pau_Garcia/DEPLOYMENT/mlflow.png
  Alumnos/ES/Pau_Garcia/DEPLOYMENT/swagger.png
Labels: mlops

#740 ML FINALIZADO
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/01_1_EDA.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/01_2_EDA.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/03_Classificacion.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/04_Perceptron.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/Readme.md
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/dataset_banco.csv
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/dataset_banco_clean.csv
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Clasificacion/dataset_default.csv
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Regresion/01_Regression.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Regresion/Readme.md
  Alumnos/ES/Pau_Garcia/MACHINE_LEARNING/Regresion/insurance.csv
Labels: machine_learning

#737 ejercicios Deployment
  Alumnos/ES/Yael_Larrosa/Deployment/Captura1_api.PNG
  Alumnos/ES/Yael_Larrosa/Deployment/Captura2_api.PNG
  Alumnos/ES/Yael_Larrosa/Deployment/mlflow2.PNG
  Alumnos/ES/Yael_Larrosa/Deployment/pipeline.PNG
Labels: mlops

#730 Entregable Deployment
  Alumnos/ES/Gabriela_Penaherrera/Deployment/Captura_1.png
  Alumnos/ES/Gabriela_Penaherrera/Deployment/Captura_2.png
  Alumnos/ES/Gabriela_Penaherrera/Deployment/Captura_4.png
  Alumnos/ES/Gabriela_Penaherrera/Deployment/Captura_Mlflow.png
  Alumnos/ES/Gabriela_Penaherrera/Deployment/Captura_pipelines.jpg
  Alumnos/ES/Gabriela_Penaherrera/Deployment/captura_Mlflow2.png
Labels: mlops

#729 [ADDED] Deployment Homework
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEPLOYMENT/entregable/hyperparameters_exploration.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEPLOYMENT/entregable/hyperparameters_search.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEPLOYMENT/entregable/metaflow_model_training_screenshot.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEPLOYMENT/entregable/model_training_params_metrics.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEPLOYMENT/entregable/prediction_trained_model.png
Labels: mlops

#727 entregables_deployment
  Alumnos/ES/INES_SOLER/DEPLOYMENT/1_api_swagger.png
  Alumnos/ES/INES_SOLER/DEPLOYMENT/2_mlflow.png
  Alumnos/ES/INES_SOLER/DEPLOYMENT/3_metaflow_pipeline.png
Labels: mlops

#723 Entregable Deployment
  Alumnos/ES/Miguel_Herrero/Deployment/ejercicio_1 (2).png
  Alumnos/ES/Miguel_Herrero/Deployment/ejercicio_1.png
  Alumnos/ES/Miguel_Herrero/Deployment/ejercicio_2.png
  Alumnos/ES/Miguel_Herrero/Deployment/ejercicio_3.png
Labels: mlops

#720 deployment- entregable
  Alumnos/ES/ANDRES_RONCANCIO/Deployment/Entregable_2.png
  Alumnos/ES/ANDRES_RONCANCIO/Deployment/Entregable_2_1.png
  Alumnos/ES/ANDRES_RONCANCIO/Deployment/Entregable_3.png
  Alumnos/ES/ANDRES_RONCANCIO/Deployment/entregable_1.png
Labels: mlops

#719 EJERCICIOS-DEPLOYMENT
  Alumnos/ES/Diego_Pitarch/DEPLOYMENT/eje 2 mlf 5.png
  Alumnos/ES/Diego_Pitarch/DEPLOYMENT/mlf 3.png
  Alumnos/ES/Diego_Pitarch/DEPLOYMENT/mlf eje 1.png
Labels: mlops

#717 Deployment_entregables
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 16.34.49.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 16.35.02.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 17.17.58.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 17.18.17.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 17.18.27.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-21 at 18.47.59.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-22 at 16.47.31.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/Screenshot 2024-05-22 at 16.52.02.png
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/app.py
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/metaflow-model-training.ipynb
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/mlflow-training.ipynb
  Alumnos/ES/NACHO_REYES/DEPLOYMENT/model.pkl
Labels: mlops

#716 Entregable_Deployment
  Alumnos/ES/Jorge_Dominguez/deployment/Readme.md
  Alumnos/ES/Jorge_Dominguez/deployment/apartado1.png
  Alumnos/ES/Jorge_Dominguez/deployment/apartado2.png
  Alumnos/ES/Jorge_Dominguez/deployment/apartado3.png
Labels: mlops

#749 Deep learning
  Alumnos/FS/MAR-PONS-VALVERDE/DEEP LEARNING/Homework_Fully_Connected (2).ipynb
Labels: deep_learning

#748 ejercicio deeplearning
  Alumnos/FS/Lucía-Esteve-Domínguez/DeepLearning/Homework_Fully_Connected-2.ipynb
Labels: deep_learning

#742 Entregable Fully Connected
  Alumnos/ES/HUGO_MARIA/DEEPLEARNING/Homework_Fully_Connected.ipynb
Labels: deep_learning

#741 Deep Learning Finished
  Alumnos/ES/Pau_Garcia/DEEPL/Homework_Fully_Connected.ipynb
  Alumnos/ES/Pau_Garcia/DEEPL/sonar.csv
Labels: deep_learning

#738 Deep_learning
  Alumnos/ES/BORJA_CABO/DEEP_LEARNING/Homework_Fully_Connected.ipynb
Labels: deep_learning

#735 Entregable DeepLearning
  Alumnos/ES/Javier_Ruiz/DeepLearning/Homework_Fully_Connected_entregable.ipynb
Labels: deep_learning

#733 Entregable DeepLearning
  Alumnos/ES/Miguel_Herrero/DeepLearning/Homework_Fully_Connected.ipynb
Labels: deep_learning

#728 entregable_deep_learning
  Alumnos/ES/INES_SOLER/DEEP_LEARNING/fully_connected.ipynb
Labels: deep_learning

#721 Ejercicio Homework_Fully_Connected
  Alumnos/ES/Francisco_Tudela/DeepLearning/Homework_Fully_Connected.ipynb
  Alumnos/ES/Francisco_Tudela/DeepLearning/readme.md
Labels: deep_learning

#712 DeepLearning/FullyConnected
  Alumnos/ES/ANTONIO_FAURA/DeepLearning/FullyConnected/Homework_Fully_Connected.ipynb
Labels: deep_learning

#710 Entregable Deep Learning
  Alumnos/ES/BALMA_AGOST/DEEP_LEARNING/Entregable_deep_learning.ipynb
Labels: deep_learning

#708 DeepLearning
  Alumnos/ES/ANDRES_RONCANCIO/DeepLearning/Homework_Fully_Connected.ipynb
Labels: deep_learning

#704 Entregable Deep Learning
  Alumnos/ES/Yael_Larrosa/DeepLearning/Homework_Fully_Connected.ipynb
Labels: deep_learning

#703 Entregable Deep Learning
  Alumnos/ES/Gabriela_Penaherrera/Deep_Learning/Homework_Fully_Connected1.ipynb
Labels: deep_learning

#702 DEEP LEARNING
  Alumnos/ES/Diego_Pitarch/DEEP LEARNING/DEEPLEARNING.ipynb
Labels: deep_learning

#700 DeepLearning/FullyConnected
  Alumnos/FS/Stas Korotchenko/DeepLearning/FullyConnected/Homework_Fully_Connected.ipynb
Labels: deep_learning

#691 [ADDED] DEEP LEARNING HOMEWORK
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/DEEP_LEARNING/Totalmente_Conectadas/Homework_Fully_Connected.ipynb
Labels: deep_learning

#690 Deep_Learning_Fully_Connected_Josan
  Alumnos/ES/Josan_Rodrigo_Cortes/DeepLearning_FullyConnected/Homework_Fully_Connected (1).ipynb
Labels: deep_learning

#680 Entregable_deeplearning
  Alumnos/ES/Jorge_Dominguez/deep_learning/Homework_Fully_Connected.ipynb
Labels: deep_learning

#678 Deep_Learning_entregable
  Alumnos/ES/NACHO_REYES/DEEP_LEARNING/captura-val_accuracy>0.80.png
  Alumnos/ES/NACHO_REYES/DEEP_LEARNING/homework-fully-connected.ipynb
  Alumnos/ES/NACHO_REYES/DEEP_LEARNING/sonar.csv
Labels: deep_learning

#745 ejercicios ml
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/01_1_EDA.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/01_2_EDA.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/02_Normalizacion.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/03_Classificacion.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/04_Perceptron.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/dataset_banco.csv
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/dataset_banco_clean.csv
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/clasificacion/dataset_default.csv
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/regresion/01_Regression.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Machinelearning/regresion/insurance.csv
Labels: machine_learning

#739 Entregables_ML
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/01_1_EDA.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/01_2_EDA.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/03_Classificacion.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/04_Perceptron.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/dataset_banco.csv
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/dataset_banco_clean.csv
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Clasificacion/dataset_default.csv
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Regresion/01_Regression.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/BORJA_CABO/MACHINE_LEARNING/Regresion/insurance.csv
Labels: machine_learning

#736 Machine learning
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/01_1_EDA.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/01_2_EDA.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/02_Normalizacion.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/03_Classificacion.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/04_Perceptron.ipynb
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/dataset_banco.csv
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/dataset_banco_clean.csv
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/MachineLearning/dataset_default.csv
Labels: machine_learning

#732 Entregable MachineLearning
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entragables_Regresion/01_Regression.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entragables_Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entragables_Regresion/insurance.csv
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/01_1_EDA-2.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/01_2_EDA.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/02_Normalizacion.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/03_Classificacion_2.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/04_Perceptron.ipynb
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/dataset.csv
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/dataset_banco.csv
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/dataset_banco_clean.csv
  Alumnos/ES/Miguel_Herrero/MachineLearning/Entregables_Clasificación/dataset_default.csv
Labels: machine_learning

#724 Entregables MachineLearning
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/01_1_EDA.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/01_2_EDA.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/03_Classificacion.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/04_Perceptron.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/Readme.md
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/dataset_banco.csv
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/dataset_banco_clean.csv
  Alumnos/ES/Francisco_Tudela/MachineLearning/Clasificacion/dataset_default.csv
  Alumnos/ES/Francisco_Tudela/MachineLearning/Regresion/01_Regression.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/Francisco_Tudela/MachineLearning/Regresion/Readme.md
  Alumnos/ES/Francisco_Tudela/MachineLearning/Regresion/insurance.csv
Labels: machine_learning

#714 Regresion
  Alumnos/FS/Adriana_Campos/Regresion/01_Regression.ipynb
  Alumnos/FS/Adriana_Campos/Regresion/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#713 Clasificacion
  Alumnos/FS/Adriana_Campos/MachineLearning/Clasificacion/01_1_EDA.ipynb
  Alumnos/FS/Adriana_Campos/MachineLearning/Clasificacion/01_2_EDA.ipynb
  Alumnos/FS/Adriana_Campos/MachineLearning/Clasificacion/02_Normalizacion.ipynb
Labels: machine_learning

#711 Entregables MachineLearning
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Clasificacion/01_1_EDA.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Clasificacion/01_2_EDA.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Clasificacion/03_Classificacion.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Clasificacion/04_Perceptron.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Regresion/01_Regression.ipynb
  Alumnos/ES/ANTONIO_FAURA/MachineLearning/Regresion/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#707 MachineLearning
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/01_1_EDA.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/01_2_EDA.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/03_Classificacion.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/04_Perceptron.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/Readme.md
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/andres_clean_dataset_banco.csv
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/dataset_banco.csv
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/dataset_banco_clean.csv
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Clasificacion/dataset_default.csv
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Regresion/01_Regression.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Regresion/Readme.md
  Alumnos/ES/ANDRES_RONCANCIO/MachineLearning/Regresion/insurance.csv
Labels: machine_learning

#706 Notebook Machine Learning
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clasificación/01_1_EDA.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clasificación/01_2_EDA.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clasificación/02_Normalizacion.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clasificación/03_Classificacion.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clasificación/04_Perceptron.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/1_K_Means_Blobs.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/2_Intro_Kmeans.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/3_KMeans_Mall.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/4_KModes_BANK.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/5_KPrototypes.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/6-DBSCAN.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/7_Gaussian_Mixture.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Clustering/8_BIRCH.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Regresión/01_Regression.ipynb
  Alumnos/FS/RAFAEL-PEREZ-MORALES/MACHINE_LEARNING/Regresión/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#699 Entregables Machine Learning
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/01_1_EDA.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/01_2_EDA.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/02_Normalizacion.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/03_Classificacion.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/04_Perceptron.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/Readme.md
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/dataset.csv
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/dataset_banco.csv
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/dataset_banco_clean.csv
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesClasificación/dataset_default.csv
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesRegresión/01_Regression.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesRegresión/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesRegresión/Readme.md
  Alumnos/ES/Yael_Larrosa/MachineLearning/EntregablesRegresión/insurance.csv
Labels: machine_learning

#697 EJERCICIOS ML
  Alumnos/FS/Pablo Martí Nomdedeu/ML/01_1_EDA (1).ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/01_2_EDA (1).ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/02_Normalizacion.ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/03_Aggregations.ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/04_Perceptron.ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/Ejercicio1_regresión.ipynb
  Alumnos/FS/Pablo Martí Nomdedeu/ML/Ejercicio2_regresión.ipynb
Labels: machine_learning

#696 update
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Clasificacion/01_1_EDA.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Clasificacion/01_2_EDA.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Clasificacion/02_Normalizacion.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Clasificacion/03_Classificacion.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Clasificacion/04_Perceptron.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/FS/ALBERTO_DE_GEA/MACHINE_LEARNING/Regresion/Ejercicio1_regresión.ipynb
Labels: machine_learning

#694 Machine_learning_Josan
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/01_1_EDA.ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/01_2_EDA.ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/01_Regression (1).ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/02_LinearRegressionImplementation (2).ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/02_Normalizacion (2).ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/03_Classificacion (2).ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Machine_learning/EntregablesHechos/04_Perceptron (2).ipynb
  Alumnos/ES/Josan_Rodrigo_Cortes/Redes_Neuronales/Workshop_1_Mobile_Price_Classification.ipynb
Labels: machine_learning

#692 Machine learning
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/CLASIFICACION/01_1_EDA .ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/CLASIFICACION/01_2_EDA .ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/CLASIFICACION/02_Normalizacion.ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/CLASIFICACION/03_Classificacion.ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/CLASIFICACION/04_Perceptron.ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/REGRESION/01_Regression.ipynb
  Alumnos/ES/Diego_Pitarch/MACHINE LEARNING/REGRESION/02_LinearRegressionImplementation .ipynb
Labels: machine_learning

#687 EntregablesML
  Alumnos/ES/Luis_Segura/MachineLearning/01_1_EDA.ipynb
  Alumnos/ES/Luis_Segura/MachineLearning/01_2_EDA.ipynb
  Alumnos/ES/Luis_Segura/MachineLearning/01_Regression.ipynb
  Alumnos/ES/Luis_Segura/MachineLearning/02_Normalizacion.ipynb
  Alumnos/ES/Luis_Segura/MachineLearning/03_Classificacion.ipynb
  Alumnos/ES/Luis_Segura/MachineLearning/04_Perceptron.ipynb
Labels: machine_learning

#686 Entregables ML
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/01_1_EDA_Entregable.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/01_2_EDA_Entregable.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/03_Classificacion_entregable.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/04_Perceptron_entregable.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/dataset_banco (1).csv
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/dataset_banco_clean (1).csv
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Clasificacion/dataset_default (2).csv
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Regresion/01_Regression_entregable.ipynb
  Alumnos/ES/Gabriela_Penaherrera/Machine_Learning/Regresion/02_LinearRegressionImplementation_Entregable.ipynb
Labels: machine_learning

#688 [ADDED] Machine Learning PostWork
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/01_1_EDA.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/01_2_EDA.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/02_Normalizacion.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/03_Classificacion.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/04_Perceptron.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/dataset_banco.csv
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/dataset_banco_clean.csv
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/CLASIFICACIÓN/dataset_default.csv
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/REGRESIÓN/01_Regression.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/REGRESIÓN/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/MACHINE_LEARNING/REGRESIÓN/insurance.csv
Labels: machine_learning

#685 Entregables ML
  Alumnos/ES/BALMA_AGOST/ML/Clasificación/01_1_EDA.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Clasificación/01_2_EDA.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Clasificación/02_Normalizacion.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Clasificación/03_Classificacion.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Clasificación/04_Perceptron_2.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Regresion/01_Regression.ipynb
  Alumnos/ES/BALMA_AGOST/ML/Regresion/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/BALMA_AGOST/ML/dataset_banco.csv
  Alumnos/ES/BALMA_AGOST/ML/dataset_banco_clean.csv
  Alumnos/ES/BALMA_AGOST/ML/dataset_default.csv
Labels: machine_learning

#684 Entregable ML Classification y Regression
  Alumnos/FS/Stas Korotchenko/ML/Classificacion/01_1_EDA.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Classificacion/01_2_EDA.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Classificacion/02_Normalizacion.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Classificacion/03_Classificacion.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Classificacion/04_Perceptron.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Regression/01_Regression.ipynb
  Alumnos/FS/Stas Korotchenko/ML/Regression/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#682 3 PRIMEROS ENTREGABLES
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/01_1_EDA (1).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/01_2_EDA (1).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/02_Normalizacion (1).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/03_Classificacion (1).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/04_Perceptron (2).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/REGRESION/01_Regression (1).ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/MACHINE LEARNING/CLASIFICACION/REGRESION/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#681 Entregable Machine Learning
  Alumnos/ES/Jorge_Dominguez/machine_learning/clasificacion/01_1_EDA.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/clasificacion/01_2_EDA.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/clasificacion/02_Normalizacion.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/clasificacion/03_Classificacion.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/clasificacion/04_Perceptron.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/regresion/01_Regression.ipynb
  Alumnos/ES/Jorge_Dominguez/machine_learning/regresion/02_LinearRegressionImplementation.ipynb
Labels: machine_learning

#679 MachineLearning_entregables
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/01_1_EDA.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/01_2_EDA.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/02_Normalizacion.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/03_Classificacion.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/04_Perceptron.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/dataset_banco.csv
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/dataset_banco_clean.csv
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/CLASIFICACION/dataset_default.csv
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/REGRESION/01_Regression.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/REGRESION/02_LinearRegressionImplementation.ipynb
  Alumnos/ES/NACHO_REYES/MACHINE_LEARNING/REGRESION/insurance.csv
Labels: machine_learning
