Repository a10pepo/EDEM_MDA2324, pull requests merged in 2024-02, with the labels that each got.

#494 ejercicio terraform
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Terraform/flujo gcp terraform.PNG
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Terraform/snake gcp terraform.PNG
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Terraform/url gcp terraform.PNG
Labels: devsecops

#493 devsecops
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DEVSECOPS/captura-snake.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DEVSECOPS/captura-workflow.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DEVSECOPS/enlace.txt
Labels: devsecops

#492 entregable_terraform
  Alumnos/FS/Stas Korotchenko/TERRAFORM/01.txt
  Alumnos/FS/Stas Korotchenko/TERRAFORM/Снимок экрана 2024-02-03 в 14.00.44.png
  Alumnos/FS/Stas Korotchenko/TERRAFORM/Снимок экрана 2024-02-03 в 14.01.37.png
Labels: devsecops

#491 Ejercicio Terraform
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Terraform/Terraform 1.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Terraform/Terraform 2.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Terraform/link-snake.txt
Labels: devsecops

#490 Capturas de Terraform
  Alumnos/FS/JESUS_JORNET_ORTI/TERRAFORM/Captura de pantalla 2024-02-03 a las 13.40.16.png
  Alumnos/FS/JESUS_JORNET_ORTI/TERRAFORM/Captura de pantalla 2024-02-03 a las 13.40.39.png
  Alumnos/FS/JESUS_JORNET_ORTI/TERRAFORM/Captura de pantalla 2024-02-03 a las 13.40.56.png
  Alumnos/FS/JESUS_JORNET_ORTI/TERRAFORM/Captura de pantalla 2024-02-03 a las 13.42.06.png
  Alumnos/FS/JESUS_JORNET_ORTI/TERRAFORM/Captura de pantalla 2024-02-03 a las 13.44.43.png
Labels: devsecops

#489 Ejercicio IAC Terraform / DEVOPS
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEVOPS/1.txt
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEVOPS/pipeline.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/DEVOPS/prueba_game.png
Labels: devsecops

#487 DevSecOps
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/DevSecOps/gcp-url.png
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/DevSecOps/snake.png
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/DevSecOps/url.txt
Labels: devsecops

#496 ENTREGABLE SNAKE
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DEVSECOPS/link.txt
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DEVSECOPS/snake.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DEVSECOPS/snake1.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DEVSECOPS/snake2.png
Labels: devsecops

#495 TERRAFORM Entregable
  Alumnos/FS/Pablo_Ivorra/Terraform/CloudRun.png
  Alumnos/FS/Pablo_Ivorra/Terraform/Modificación Snake.png
  Alumnos/FS/Pablo_Ivorra/Terraform/Snake-Terrafrom.png
Labels: devsecops

#452 PYTHON - Sesiones 4 y 5 + Proyecto FInal
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 3/Ejercicio 1/sesion03_ejercicio01.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 3/Ejercicio 2/sesion03_ejercicio02.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 2/requirements.txt
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 2/sesion04_ejercicio02-already-satisfied.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 2/sesion04_ejercicio02.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 2/sesion04_ejercicio02.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 3/sesion04_ejercicio03.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 4/Ejercicio 3/sesion04_ejercicio03.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 5/Ejercicio 1/sesion05_ejercicio01.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 5/Ejercicio 2/sesion05_ejercicio02.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 5/Ejercicio 3/sesion05_ejercicio03.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/EJERCICIOS_EVALUABLES/Sesión 5/pokemon_data.csv
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/01_Añadir alumno y listar a todos para verlo.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/02_Aprobar alumno por NIF y listarlo para ver el resultado.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/03_Actualizar datos por NIF y listarlo para ver que funciona.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/04_Mostrar datos por NIF y mostrar datos por email.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/05_Suspender alumno por NIF y listar para confirmar el suspenso.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/06_Mostrar alumnos aprobados y suspendidos, salgo suspendido.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/07_Eliminar alumno y listarlo para confirmar que ya no está.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/PYTHON/PROYECTO FINAL/proyecto_final.py
Labels: python

#513 Entregable DEVSECOPS
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Cloudrun.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Pipeline.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/Snake.png
  Alumnos/ES/BORJA_CABO/DEVSECOPS/url.txt
Labels: devsecops

#486 Entregable Kafka
  .gitignore
  Alumnos/ES/Francisco_Tudela/KAFKA/README.md
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/1.Levantar Docker.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/2.Ejecutamos el Producer.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/3.Ejecutamos Consumidor_Productor.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/4.KSQL Y COMPROBAR TOPICS.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/5.1VISUALIZACION EN KSQL EN PRIMER TOPIC.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/5.VISUALIZACION EN KSQL EN PRIMER TOPIC.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/6.Creación flujo y nuevo topic KSQL.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/SCREENSHOTS/7.VISUALIZACION EN NUEVO STREAM CON NUEVO TOPIC CREADO.PNG
  Alumnos/ES/Francisco_Tudela/KAFKA/VideoGameUsage_Profile.csv
  Alumnos/ES/Francisco_Tudela/KAFKA/consumer.py
  Alumnos/ES/Francisco_Tudela/KAFKA/docker-compose.yml
  Alumnos/ES/Francisco_Tudela/KAFKA/producer.py
Labels: kafka

#458 Entregable Kafka
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/1-levantar contenedor.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/2- ejecutar el productor.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/3-ejecutar el consumer.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/4-abrir ksql en la terminal.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/5-comprobar la presencia del topic ventas.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/6- crear stream del topic  ventas.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/Evidencias/7-hacer query.PNG
  Alumnos/ES/Yael_Larrosa/Kafka/README.md
  Alumnos/ES/Yael_Larrosa/Kafka/consumer.py
  Alumnos/ES/Yael_Larrosa/Kafka/docker-compose.yml
  Alumnos/ES/Yael_Larrosa/Kafka/producer.py
  Alumnos/ES/Yael_Larrosa/Kafka/sales_dataset.csv
Labels: kafka

#485 Entregable Cloud
  Alumnos/ES/Gabriela_Penaherrera/Cloud/VM.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/bucket.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/cargaarchivobucket.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/cloudfunction3.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/cloudfunction4.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/cloudrun.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/cuentaservicio.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/datos.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/dbeaver.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/docker.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/grafanacloudrun.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/grafanagraficos.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/sql.png
  Alumnos/ES/Gabriela_Penaherrera/Cloud/tabladatosdbeaver.png
Labels: cloud

#522 entregable dataflow
  Alumnos/ES/INES_SOLER/DATAFLOW/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/INES_SOLER/DATAFLOW/fined_BigQuery.png
  Alumnos/ES/INES_SOLER/DATAFLOW/generator.py
  Alumnos/ES/INES_SOLER/DATAFLOW/nonfined_outputtopic.png
  Alumnos/ES/INES_SOLER/DATAFLOW/requirements.txt
Labels: cloud

#521 Ejercicio Dataflow
  Alumnos/ES/Yael_Larrosa/Dataflow/BIGQUERY.PNG
  Alumnos/ES/Yael_Larrosa/Dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Yael_Larrosa/Dataflow/PUBSUB.PNG
  Alumnos/ES/Yael_Larrosa/Dataflow/generator.py
  Alumnos/ES/Yael_Larrosa/Dataflow/requirements.txt
Labels: cloud

#519 Entregable Cloud-computing End2End
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Bucket_con_archivo.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Dashboard_metods_pago.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/El_artefacto.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Function_in_cloud_run.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Functions.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Ingesta_data.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Push_to_artefacto.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Secrets.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Service_cloud_run.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/VMs.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Visualicacion_datos_BBDD.PNG
  Alumnos/ES/Francisco_Tudela/Cloud_Computing/Visualizamos_BBDD_en_Dbeaver.PNG
Labels: cloud

#526 [ADDED] Cloud Computing-End2End
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Bucket_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Building_Docker_Image.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Cloud_Function_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Cloud_Function_Revision.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Cloud_Run_Service_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Connection_CloudSQL.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Data_Import_Bucket.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Data_Import_PostgreSQL.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Data_Ingestion_DBeaver.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Grafana_Dashboard.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Image_Pushed_to_Repo.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/PostgreSQL_Connection.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/PostgreSQL_Instance.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Running_APIs.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Running_Script.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Secrets_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Storage_Permission.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Table_Visualization.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/Tables_Visualization_DBeaver.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/Postwork/VM_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Cloud Computing/README.md
Labels: cloud

#403 POSTWORK
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/1. Entrega.md
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/2. Indicaciones .md
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/Final_Transaction.csv
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/consumer.py
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/docker-compose.yml
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/arquitectura.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/consumer.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/json.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/ksql.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/mensajes.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/producer.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/topic2.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/images/topics.png
  Alumnos/FS/Adriana_Campos/KAFKA/PostWork/producer_registro.py
Labels: kafka

#420 Flask
  Alumnos/ES/Jorge_Dominguez/flask/.dockerignore
  Alumnos/ES/Jorge_Dominguez/flask/.gitignore
  Alumnos/ES/Jorge_Dominguez/flask/.swagger-codegen-ignore
  Alumnos/ES/Jorge_Dominguez/flask/.swagger-codegen/VERSION
  Alumnos/ES/Jorge_Dominguez/flask/.travis.yml
  Alumnos/ES/Jorge_Dominguez/flask/Dockerfile
  Alumnos/ES/Jorge_Dominguez/flask/README.md
  Alumnos/ES/Jorge_Dominguez/flask/git_push.sh
  Alumnos/ES/Jorge_Dominguez/flask/requirements.txt
  Alumnos/ES/Jorge_Dominguez/flask/setup.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/__init__.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/__main__.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/controllers/__init__.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/controllers/default_controller.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/encoder.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/models/__init__.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/models/base_model_.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/models/measure.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/test/__init__.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/test/test_default_controller.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/type_util.py
  Alumnos/ES/Jorge_Dominguez/flask/swagger_server/util.py
  Alumnos/ES/Jorge_Dominguez/flask/test-requirements.txt
  Alumnos/ES/Jorge_Dominguez/flask/tox.ini
Labels: flask

#429 Entregable Kafka
  Alumnos/ES/Gabriela_Penaherrera/Kafka/Evidencias Kafka.jpg
  Alumnos/ES/Gabriela_Penaherrera/Kafka/README.md
  Alumnos/ES/Gabriela_Penaherrera/Kafka/consumer.py
  Alumnos/ES/Gabriela_Penaherrera/Kafka/docker-compose.yml
  Alumnos/ES/Gabriela_Penaherrera/Kafka/producer.py
Labels: kafka

#436 FLASK
  Alumnos/FS/MAR-PONS-VALVERDE/FLASK SWAGGER/Ejercicio Evaluable/app.py
  Alumnos/FS/MAR-PONS-VALVERDE/FLASK SWAGGER/Ejercicio Evaluable/openapi.yaml
Labels: flask

#451 FlaskEntregable
  Alumnos/ES/Luis_Segura/Flask/Flask.png
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/__init__.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/__main__.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/controllers/__init__.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/controllers/authorization_controller.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/controllers/default_controller.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/encoder.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/models/__init__.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/models/base_model_.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/models/inline_response400.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/models/inline_response404.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/models/measure.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/swagger/swagger.yaml
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/test/__init__.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/test/test_default_controller.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/type_util.py
  Alumnos/ES/Luis_Segura/Flask/ServerSwaggerFlask/util.py
Labels: flask

#454 EJERCICIO FLASK-SWAGGER
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/.dockerignore
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/.gitignore
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/.swagger-codegen-ignore
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/.swagger-codegen/VERSION
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/.travis.yml
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/Dockerfile
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/README.md
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/git_push.sh
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/requirements.txt
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/setup.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/__init__.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/__main__.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/controllers/__init__.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/controllers/authorization_controller.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/controllers/default_controller.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/encoder.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/models/__init__.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/models/base_model_.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/swagger/swagger.yaml
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/test/__init__.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/test/test_default_controller.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/type_util.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/swagger_server/util.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/test-requirements.txt
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/FLASK-SWAGGER/python-flask-server-generated/tox.ini
Labels: flask

#459 Entregable flask
  Alumnos/ES/Yael_Larrosa/Flask/Dockerfile
  Alumnos/ES/Yael_Larrosa/Flask/README.md
  Alumnos/ES/Yael_Larrosa/Flask/git_push.sh
  Alumnos/ES/Yael_Larrosa/Flask/requirements.txt
  Alumnos/ES/Yael_Larrosa/Flask/setup.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/__init__.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/__main__.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/controllers/__init__.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/encoder.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/models/__init__.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/models/base_model_.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/models/medicion.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/models/nuevamedicion.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/test/__init__.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/type_util.py
  Alumnos/ES/Yael_Larrosa/Flask/swagger_server/util.py
  Alumnos/ES/Yael_Larrosa/Flask/test-requirements.txt
  Alumnos/ES/Yael_Larrosa/Flask/tox.ini
Labels: flask

#466 Entregable Flask
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/.dockerignore
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/.gitignore
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/.swagger-codegen-ignore
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/.travis.yml
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/Dockerfile
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/README.md
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/git_push.sh
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/requirements.txt
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/setup.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/__init__.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/__main__.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/controllers/__init__.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/controllers/default_controller.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/encoder.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/models/__init__.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/models/base_model_.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/models/inline_response200.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/models/inline_response400.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/models/inline_response404.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/swagger/swagger.yaml
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/test/__init__.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/test/test_default_controller.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/type_util.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/swagger_server/util.py
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/test-requirements.txt
  Alumnos/ES/BALMA_AGOST/FLASK/python-flask-server/tox.ini
Labels: flask

#468 Entregable Flask
  .gitignore
  Alumnos/ES/Francisco_Tudela/FLASK/.dockerignore
  Alumnos/ES/Francisco_Tudela/FLASK/.gitignore
  Alumnos/ES/Francisco_Tudela/FLASK/.swagger-codegen-ignore
  Alumnos/ES/Francisco_Tudela/FLASK/.swagger-codegen/VERSION
  Alumnos/ES/Francisco_Tudela/FLASK/.travis.yml
  Alumnos/ES/Francisco_Tudela/FLASK/Dockerfile
  Alumnos/ES/Francisco_Tudela/FLASK/README.md
  Alumnos/ES/Francisco_Tudela/FLASK/git_push.sh
  Alumnos/ES/Francisco_Tudela/FLASK/requirements.txt
  Alumnos/ES/Francisco_Tudela/FLASK/setup.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/__init__.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/__main__.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/controllers/__init__.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/controllers/default_controller.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/encoder.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/models/__init__.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/models/base_model_.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/models/measure.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/test/__init__.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/test/test_default_controller.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/type_util.py
  Alumnos/ES/Francisco_Tudela/FLASK/swagger_server/util.py
  Alumnos/ES/Francisco_Tudela/FLASK/test-requirements.txt
  Alumnos/ES/Francisco_Tudela/FLASK/tox.ini
Labels: flask

#475 Create swagger.yml
  Alumnos/FS/Lucía-Esteve-Domínguez/Flask/swagger.yml
Labels: flask

#479 FLASK Entregable
  Alumnos/FS/Pablo_Ivorra/FLASK/Comprobación 2 API Flask.png
  Alumnos/FS/Pablo_Ivorra/FLASK/Comprobación API Flask.png
  Alumnos/FS/Pablo_Ivorra/FLASK/Comprobación usando Insomnia.png
  Alumnos/FS/Pablo_Ivorra/FLASK/Entregable.yml
  Alumnos/FS/Pablo_Ivorra/FLASK/README.md
  Alumnos/FS/Pablo_Ivorra/FLASK/app.py
Labels: flask

#498 Kafka entregable
  Alumnos/ES/JULIAN_MERINO/kafka/Readme.md
  Alumnos/ES/JULIAN_MERINO/kafka/checkpoints_consumer.py
  Alumnos/ES/JULIAN_MERINO/kafka/checkpoints_producer.py
  Alumnos/ES/JULIAN_MERINO/kafka/docker-compose.yml
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144215.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144559.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144627.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144647.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144716.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144742.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144835.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 144853.png
  Alumnos/ES/JULIAN_MERINO/kafka/screenshots/Captura de pantalla 2024-02-06 145004.png
  Alumnos/ES/JULIAN_MERINO/kafka/utmb_kj_cd_times.csv
Labels: kafka

#514 Entregable Kafka
  Alumnos/ES/Javier_Ruiz/Kafka/Screenshots/api_get.jpg
  Alumnos/ES/Javier_Ruiz/Kafka/Screenshots/consumer_result.jpg
  Alumnos/ES/Javier_Ruiz/Kafka/Screenshots/ksql_funciona.jpg
  Alumnos/ES/Javier_Ruiz/Kafka/Screenshots/producer_kafkaui.jpg
  Alumnos/ES/Javier_Ruiz/Kafka/Screenshots/producer_running.jpg
  Alumnos/ES/Javier_Ruiz/Kafka/consumer.py
  Alumnos/ES/Javier_Ruiz/Kafka/docker-compose.yml
  Alumnos/ES/Javier_Ruiz/Kafka/producer.py
  Alumnos/ES/Javier_Ruiz/Kafka/usecase.md
Labels: kafka

#517 Entregable Flask
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/.dockerignore
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/.gitignore
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/.swagger-codegen-ignore
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/.swagger-codegen/VERSION
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/.travis.yml
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/Captura_pantalla.png
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/Dockerfile
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/README.md
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/git_push.sh
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/requirements.txt
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/setup.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/__init__.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/__main__.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/controllers/__init__.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/controllers/default_controller.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/encoder.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/models/__init__.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/models/base_model_.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/models/measure.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/swagger/swagger.yaml
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/test/__init__.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/test/test_default_controller.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/type_util.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/swagger_server/util.py
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/test-requirements.txt
  Alumnos/ES/ANDRES_RONCANCIO/Flask/python-flask-server-generated/tox.ini
Labels: flask

#499 Entregable_KAFKA
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Consumer.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Consuming_New_Topic.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Container_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/KSQL_Launched.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/New_KSQL_Topic_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Printing_KSQL_Topic.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Producer.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Showing_KSQL_Topics.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Stream_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Topic_Creation.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Topic_Recieving_messages.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Word_>10.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Capturas/Words_Starting_H.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/Harry_Potter_La_Piedra_Filosofal.txt
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/NBA_Player_Stats_2.csv
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/README.md
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/consumer.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/docker-compose.yml
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/producer.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/KAFKA/Post Work/producer2.py
Labels: kafka

#505 Snake Entregable
  Alumnos/ES/Francisco_Tudela/devsecops/Build.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/Cloudrun.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/JuegoSnake.PNG
  Alumnos/ES/Francisco_Tudela/devsecops/ruta.txt
Labels: devsecops

#529 flask
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/README.md
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 0/main.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 0/requirements.txt
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 1/main.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 1/requirements.txt
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 1/templates/form.html
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 2/Dockerfile
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 2/app.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 2/requirements.txt
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 2/templates/form.html
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/.dockerignore
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/Dockerfile
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/README.md
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/__main__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/requirements.txt
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/__init__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/__main__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/controllers/__init__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/controllers/pet_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/controllers/store_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/controllers/user_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/encoder.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/__init__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/api_response.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/base_model_.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/category.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/order.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/pet.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/tag.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/models/user.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/swagger/swagger.yaml
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/test/__init__.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/test/test_pet_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/test/test_store_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/test/test_user_controller.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio 3/swagger_server/util.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio client/main.py
  Alumnos/FS/ANDRES_CERVERA/Flask/Ejercicios/ejercicio client/requirements.txt
  Alumnos/FS/ANDRES_CERVERA/Flask/Entregable/image-1.png
  Alumnos/FS/ANDRES_CERVERA/Flask/Entregable/image.png
  Alumnos/FS/ANDRES_CERVERA/Flask/Entregable/readme.md
  Alumnos/FS/ANDRES_CERVERA/Flask/Entregable/robot.yaml
Labels: flask

#530 entregable cloud
  Alumnos/FS/ALBERTO_DE_GEA/CLOUD/cloud_computing/BUCKET.png
  Alumnos/FS/ALBERTO_DE_GEA/CLOUD/cloud_computing/CLOUD RUN GRAFANA.png
  Alumnos/FS/ALBERTO_DE_GEA/CLOUD/cloud_computing/bbdd en dbeaver.png
  Alumnos/FS/ALBERTO_DE_GEA/CLOUD/cloud_computing/grafana.png
Labels: cloud

#531 EJERCICIO CLOUD
  Alumnos/FS/MAR-PONS-VALVERDE/CLOUD/README.md
  Alumnos/FS/MAR-PONS-VALVERDE/CLOUD/dashboard.jpeg
  Alumnos/FS/MAR-PONS-VALVERDE/CLOUD/database.jpeg
Labels: cloud

#460 Kafka
  Alumnos/ES/Diego_Pitarch/KAFKA/consumidor kafka.png
  Alumnos/ES/Diego_Pitarch/KAFKA/consumidor.py
  Alumnos/ES/Diego_Pitarch/KAFKA/docker-compose levantado.png
  Alumnos/ES/Diego_Pitarch/KAFKA/docker-compose.yml
  Alumnos/ES/Diego_Pitarch/KAFKA/kafka palabras.png
  Alumnos/ES/Diego_Pitarch/KAFKA/libro.txt
  Alumnos/ES/Diego_Pitarch/KAFKA/palabras con a.png
  Alumnos/ES/Diego_Pitarch/KAFKA/postwork.properties
  Alumnos/ES/Diego_Pitarch/KAFKA/productor kafka.png
  Alumnos/ES/Diego_Pitarch/KAFKA/productor.py
  Alumnos/ES/Diego_Pitarch/KAFKA/productor2.py
  Alumnos/ES/Diego_Pitarch/KAFKA/readme.txt
  Alumnos/ES/Diego_Pitarch/KAFKA/topic postwork.png
Labels: kafka

#385 Kafka Postwork
  Alumnos/ES/Jorge_Dominguez/kafka/consumer.py
  Alumnos/ES/Jorge_Dominguez/kafka/docker-compose.yml
  Alumnos/ES/Jorge_Dominguez/kafka/dockerfile
  Alumnos/ES/Jorge_Dominguez/kafka/img/cuatro.png
  Alumnos/ES/Jorge_Dominguez/kafka/img/dos.png
  Alumnos/ES/Jorge_Dominguez/kafka/img/tres.png
  Alumnos/ES/Jorge_Dominguez/kafka/img/uno.png
  Alumnos/ES/Jorge_Dominguez/kafka/producer.py
  Alumnos/ES/Jorge_Dominguez/kafka/readme.md
  Alumnos/ES/Jorge_Dominguez/kafka/requirements.txt
  Alumnos/ES/Jorge_Dominguez/kafka/reviews.json
Labels: kafka

#384 Kafka+Flask
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_1_Definicion_clase.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_2_Creacion_topics.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_3_Creacion_streams_KSQL.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_4_Productor_inicial_API.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_5_Consumidor_y_productor.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_6_Descargar_CVS.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/KP_API.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/Kafka+Flask.jpeg
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/README.md
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/docker-compose.yml
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/dockerfile
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/dockerfile-flask
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/main.py
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/requirements.txt
  Alumnos/FS/JUAN CORNEJO/KAFKA+FLASK/swagger.yaml
Labels: flask, kafka

#461 kafka entregable
  Alumnos/FS/Stas Korotchenko/KAFKA/README.md
  Alumnos/FS/Stas Korotchenko/KAFKA/consumer.py
  Alumnos/FS/Stas Korotchenko/KAFKA/docker-compose.yml
  Alumnos/FS/Stas Korotchenko/KAFKA/img.png
  Alumnos/FS/Stas Korotchenko/KAFKA/producer.py
Labels: kafka

#398 ejercicio kafka entregable
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/INICIO PRODUCER.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/SHOW TOPICS KSQL.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/dataset selected = txt .png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/docker-compose.yml
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/el_alquimista_book.txt
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/fin lectura topic.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/image1_ksql.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/image2_kqsl.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/image3_ksql.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/image4_ksql.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/lectura topic producido.png
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/producer.py
  Alumnos/FS/ALBERTO_DE_GEA/KAFKA/readme.md
Labels: kafka

#377 Kafka project
  Alumnos/FS/JUAN CORNEJO/KAFKA/Analisis_emergencias.pbix
  Alumnos/FS/JUAN CORNEJO/KAFKA/Flujograma del proceso.jpeg
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_1_Definicion_clase.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_2_Creacion_topics.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_3_Creacion_streams_KSQL.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_4_Productor_inicial.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_5_Consumidor_y_productor.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/KP_6_Descargar_CVS.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/README.md
  Alumnos/FS/JUAN CORNEJO/KAFKA/TOTAL_AVISOS.json
  Alumnos/FS/JUAN CORNEJO/KAFKA/TOTAL_AVISOS_SANITARIOS_112.json
  Alumnos/FS/JUAN CORNEJO/KAFKA/docker-compose.yml
  Alumnos/FS/JUAN CORNEJO/KAFKA/dockerfile
  Alumnos/FS/JUAN CORNEJO/KAFKA/main.py
  Alumnos/FS/JUAN CORNEJO/KAFKA/requirements.txt
Labels: kafka

#369 Kafka_PostWork
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/README.md
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/Screenshot_1.png
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/Screenshot_2.png
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/ciudades_filtradas.txt
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/consumer.py
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/consumer_beta.py
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/docker-compose.yml
  Alumnos/FS/CRISTIAN_MARTY/KAFKA/producer.py
Labels: kafka

#534 entregable
  Alumnos/FS/ANDRES_CERVERA/Terraform/cloudRun.png
  Alumnos/FS/ANDRES_CERVERA/Terraform/pipeline.png
  Alumnos/FS/ANDRES_CERVERA/Terraform/snake.png
  Alumnos/FS/ANDRES_CERVERA/Terraform/url.txt
Labels: devsecops

#423 ENTREGABLE SPARK
  Alumnos/FS/MAR-PONS-VALVERDE/SPARK/Mar_Pons_Entregable_SPARK.ipynb
  Alumnos/FS/MAR-PONS-VALVERDE/SPARK/atp_tennis.csv
Labels: spark

#435 SPARK ENTREGABLE
  Alumnos/FS/Pablo_Ivorra/SPARK/EntregableSpark_Andrés_PabloIvorra (1).ipynb
Labels: spark

#437 spark
  Alumnos/FS/ANDRES_CERVERA/Spark/EntregableSpark_Andrés_PabloIvorra.ipynb
Labels: spark

#473 SPARK
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/SPARK/Fernando_Cabrera.ipynb
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/SPARK/readme.txt
Labels: spark

#478 EntregableSpark
  Alumnos/ES/Luis_Segura/SPARK/Entregable_Spark.ipynb
  Alumnos/ES/Luis_Segura/SPARK/Readme.md
  Alumnos/ES/Luis_Segura/SPARK/circuits.csv
  Alumnos/ES/Luis_Segura/SPARK/constructor_results.csv
  Alumnos/ES/Luis_Segura/SPARK/constructor_standings.csv
  Alumnos/ES/Luis_Segura/SPARK/constructors.csv
  Alumnos/ES/Luis_Segura/SPARK/driver_standings.csv
  Alumnos/ES/Luis_Segura/SPARK/drivers.csv
  Alumnos/ES/Luis_Segura/SPARK/qualifying.csv
  Alumnos/ES/Luis_Segura/SPARK/races.csv
  Alumnos/ES/Luis_Segura/SPARK/results.csv
  Alumnos/ES/Luis_Segura/SPARK/status.csv
Labels: spark

#538 Spark entregable
  Alumnos/FS/Adriana_Campos/SPARK/archive/1- the-number-of-cases-of-infectious-diseases.csv
  Alumnos/FS/Adriana_Campos/SPARK/archive/2- the-worlds-number-of-vaccinated-one-year-olds.csv
  Alumnos/FS/Adriana_Campos/SPARK/archive/3- annual-mortality-rate-from-seasonal-influenza-ages-65.csv
  Alumnos/FS/Adriana_Campos/SPARK/archive/4- excess-deaths-cumulative-economist-single-entity.csv
  Alumnos/FS/Adriana_Campos/SPARK/archive/5- number-of-reported-cholera-deaths.csv
  Alumnos/FS/Adriana_Campos/SPARK/notebook_analisis.ipynb
  Alumnos/FS/Adriana_Campos/SPARK/readme.md
Labels: spark

#481 Dataflow_entrega
  Alumnos/ES/Jorge_Dominguez/dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Jorge_Dominguez/dataflow/generator.py
  Alumnos/ES/Jorge_Dominguez/dataflow/img/bq.png
  Alumnos/ES/Jorge_Dominguez/dataflow/img/df1.png
  Alumnos/ES/Jorge_Dominguez/dataflow/img/gen.png
  Alumnos/ES/Jorge_Dominguez/dataflow/readme.md
Labels: cloud

#544 tarea cloud
  Alumnos/ES/Diego_Pitarch/CLOUD/1. creación VM.png
  Alumnos/ES/Diego_Pitarch/CLOUD/10.generador.png
  Alumnos/ES/Diego_Pitarch/CLOUD/11. dbeaver.png
  Alumnos/ES/Diego_Pitarch/CLOUD/12. dbeaver2.png
  Alumnos/ES/Diego_Pitarch/CLOUD/13.grafana.png
  Alumnos/ES/Diego_Pitarch/CLOUD/14. artifac.png
  Alumnos/ES/Diego_Pitarch/CLOUD/2.tiendas.png
  Alumnos/ES/Diego_Pitarch/CLOUD/3.bucket.png
  Alumnos/ES/Diego_Pitarch/CLOUD/4.sql.png
  Alumnos/ES/Diego_Pitarch/CLOUD/5.conexion sql.png
  Alumnos/ES/Diego_Pitarch/CLOUD/6.secrets.png
  Alumnos/ES/Diego_Pitarch/CLOUD/7.funcion.png
  Alumnos/ES/Diego_Pitarch/CLOUD/8.docker.png
  Alumnos/ES/Diego_Pitarch/CLOUD/9.grafana.png
Labels: cloud

#382 Kafka post work
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/EjercicioFinal/__pycache__/alumnos.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/EjercicioFinal/__pycache__/functions.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/__pycache__/Reto13.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/__pycache__/funciones.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionTicketCompra.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionesRA1.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionlistarDiscosTienda.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/funcionpedidoCompra.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/main.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/pedido.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/__pycache__/tienda.cpython-310.pyc
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado1y2/requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado4/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado5/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado6/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado7/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado8/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Python/retos/retosAvanzados/retoAvanzado9/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/docker/131223/docker-compose.yml
  Alumnos/ES/Josan_Rodrigo_Cortes/docker/131223/dockerfile
  Alumnos/ES/Josan_Rodrigo_Cortes/docker/131223/entrypoint.sh
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/clase181223/main.py
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/README.md
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/READMEpostwork.md
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/consumer.py
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/docker-compose.yml
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/producer.py
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/1dockerComposeUp.png
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/2PuestaEnMarchaDelProductor.png
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/3puestaEnMarchadelConsumidor.png
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/4DockerComposeUp+ksql.png
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/5CreacionStringRandomUser.png
  Alumnos/ES/Josan_Rodrigo_Cortes/kafka/trabajo/screenshots/6ImpresionDelTopicRandomUserData.png
Labels: kafka

#582 [ADDED] Dataflow Postwork
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Apple_5th_Ave - Zara_5th_Ave.kml
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/README.md
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Dataflow_Job_GCP.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Dataflow_Workflow_GCP.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Fined_Vehicles_BigQuery.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Non_Fined_Vehicles_Topic.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Running_Dataflow_GCP.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Running_Dataflow_Local.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Running_Vehicle_Generator.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/Screenshots/Virtual_Environment.png
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/commands.txt
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/generator.py
  Alumnos/ES/CARLOS_BUENROSTRO_VALVERDE/CLOUD/Dataflow/Postwork/requirements.txt
Labels: dataflow

#584 Ejercicio cloud
  Alumnos/FS/Lucía-Esteve-Domínguez/Cloud/README.md
  Alumnos/FS/Lucía-Esteve-Domínguez/Cloud/dashboard.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Cloud/database.jpeg
Labels: cloud

#586 EntregableDataflow
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/AñadirRol.png
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/BigQuery.jpg
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/Dataflow.png
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/Generador.png
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/PipelineSinDataflow.png
  Alumnos/ES/Luis_Segura/Dataflow/Capturas/PubSub.png
  Alumnos/ES/Luis_Segura/Dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Luis_Segura/Dataflow/generator.py
  Alumnos/ES/Luis_Segura/Dataflow/requirements.txt
Labels: dataflow

#558 Serverless Postwork
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111344.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111422.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111436.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111457.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111505.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111520.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111528.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111542.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111559.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111610.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111623.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111645.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111654.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/Captura de pantalla 2024-02-29 111702.png
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/DataflowJosan.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/DataflowJosanCompleto.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/generator.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Serverless/Postwork/image.png
Labels: dataflow
