Repository a10pepo/EDEM_MDA2324, pull requests merged in 2024-01, with the labels that each got.

#381 Evaluables_python
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 5/Ejercicio 1/EJ1.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 5/Ejercicio 1/pokemon_data.csv
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 5/Ejercicio 2/EJ2.py
  Alumnos/FS/ANDRES_CERVERA/Python/Sesión 5/Ejercicio 3/EJ3.py
  palabras_ahorcado.txt
Labels: python

#364 modificaciones y más ejercicios python
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion1/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion1/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion2/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio3/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio3/archivo.py
Labels: python

#313 Entregables 1, 2, 3
  Alumnos/ES/ANTONIO_FAURA/PYTHON/ENTREGABLES/1,_2_,3
  Alumnos/ES/ANTONIO_FAURA/PYTHON/ENTREGABLES/4
  Alumnos/ES/ANTONIO_FAURA/PYTHON/Ejercicio_Final.py
Labels: pendingwork, python

#367 Ejercicio Docker
  Alumnos/FS/Lucía-Esteve-Domínguez/Docker/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Docker/captura.png
  Alumnos/FS/Lucía-Esteve-Domínguez/Docker/dockerfile
Labels: docker

#362 Ejercicio 2 Linux
  Alumnos/FS/Lucía-Esteve-Domínguez/Linux/Script.sh
  Alumnos/FS/Lucía-Esteve-Domínguez/Linux/readme.md
Labels: pendingwork, linux

#114 Ahorcado
  Alumnos/FS/JESUS_JORNET_ORTI/Ahorcado/Ahorcado.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ahorcado/dockerfile
  Alumnos/FS/JESUS_JORNET_ORTI/Ahorcado/requirements.txt
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto10.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto11.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto13.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto14.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto15.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto16.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto17[WIP].py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto18[WIP].py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto2.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto3.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto4.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto5.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto6.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto7.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto8.py
  Alumnos/FS/JESUS_JORNET_ORTI/Ejercicios_Python/Reto9.py
  Alumnos/FS/JESUS_JORNET_ORTI/README
  Alumnos/FS/JESUS_JORNET_ORTI/cosas.csv
  Alumnos/FS/JESUS_JORNET_ORTI/cosas.json
  Alumnos/FS/JESUS_JORNET_ORTI/ejercicio_chuck.sh
Labels: pendingwork, python, ahorcado

#410 Docker
  Alumnos/FS/Pablo Martí Nomdedeu/DOCKER/Captura de Pantalla 2023-12-29 a las 10.59.37.png
  Alumnos/FS/Pablo Martí Nomdedeu/DOCKER/dockerfile
  Alumnos/FS/Pablo Martí Nomdedeu/DOCKER/suma.py
  Alumnos/FS/Pablo Martí Nomdedeu/NOTEBOOKS/forbes_2640_billionaires.csv
  Alumnos/FS/Pablo Martí Nomdedeu/NOTEBOOKS/trabajoNOTEBOOKS.ipynb
Labels: pendingwork, docker, notebook

#390 SQL Consultas
  Alumnos/FS/Pablo_Ivorra/SQL/Consultas PI DvDRental.sql
Labels: sql

#376 Ejercicios sql
  Alumnos/FS/Lucía-Esteve-Domínguez/SQL/Script.sql
Labels: sql

#340 CLASE API UPDATE
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio cliente/main.py
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio cliente/requirements.txt
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio evaluable/api.yaml
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio evaluable/código-200.png
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio evaluable/código-400.png
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio evaluable/código-404.png
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio0/main.py
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio0/requirements.txt
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio1/main.py
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio1/requirements.txt
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio2/app.py
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio2/dockerfile
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio2/requirements.txt
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio3/dockerfile
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio3/main.py
  Alumnos/FS/ALBERTO_DE_GEA/API/ejercicio3/requirements.txt
Labels: flask

#446 Ejercicios sql
  Alumnos/FS/Pablo Martí Nomdedeu/SQL/Script.sql
Labels: sql

#373 SQL
  Alumnos/ES/BORJA_CABO/SQL/Docker-compose_up.png
  Alumnos/ES/BORJA_CABO/SQL/Query.png
  Alumnos/ES/BORJA_CABO/SQL/Restore.png
  Alumnos/ES/BORJA_CABO/SQL/postgressetup/README.md
  Alumnos/ES/BORJA_CABO/SQL/postgressetup/docker-compose.yml
  Alumnos/ES/BORJA_CABO/SQL/postgressetup/dvdrental.tar
Labels: sql

#383 Ejercicio SQL
  Alumnos/FS/RAFAEL-PEREZ-MORALES/SQL/sesion1.sql
  Alumnos/FS/RAFAEL-PEREZ-MORALES/SQL/sesion2.sql
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Spark/Ejercicio_Spark.ipynb
Labels: sql

#375 Flask_Evaluation_Excercise
  Alumnos/FS/CRISTIAN_MARTY/FLASK/Readme.md
  Alumnos/FS/CRISTIAN_MARTY/FLASK/Screenshot_Swagger.png
  Alumnos/FS/CRISTIAN_MARTY/FLASK/flask_excercise.yaml
Labels: flask

#379 Flask
  Alumnos/FS/JUAN CORNEJO/FLASK/app.py
  Alumnos/FS/JUAN CORNEJO/FLASK/swagger.yaml
Labels: flask

#397 Flask api’s
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/README.md
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_0/main.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_0/requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_1/main.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_1/requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_1/templates/form.html
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_2/Dockerfile
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_2/app.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_2/requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_2/templates/form.html
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/.dockerignore
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/Dockerfile
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/README.md
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/__main__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/__main__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/controllers/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/controllers/pet_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/controllers/store_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/controllers/user_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/encoder.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/api_response.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/base_model_.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/category.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/order.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/pet.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/tag.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/models/user.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/swagger/swagger.yaml
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/test/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/test/test_pet_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/test/test_store_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/test/test_user_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_3/swagger_server/util.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_client/main.py
  Alumnos/FS/Adriana_Campos/Flask_API/apuntes/ejercicio_client/requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /Dockerfile
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /README.md
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /git_push.sh
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /setup.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/__main__.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/controllers/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/controllers/authorization_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/controllers/default_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/encoder.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/models/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/models/base_model_.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/models/measure.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/swagger/swagger.yaml
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/test/__init__.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/test/test_default_controller.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/type_util.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /swagger_server/util.py
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /test-requirements.txt
  Alumnos/FS/Adriana_Campos/Flask_API/entregable /tox.ini
Labels: flask

#412 Flask_entregable
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/.dockerignore
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/.gitignore
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/.swagger-codegen-ignore
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/.swagger-codegen/VERSION
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/.travis.yml
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/Dockerfile
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/README.md
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/git_push.sh
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/requirements.txt
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/setup.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/__init__.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/__main__.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/controllers/__init__.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/controllers/robot_controller.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/encoder.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/models/__init__.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/models/base_model_.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/models/robot.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/swagger/swagger.yaml
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/test/__init__.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/test/test_robot_controller.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/type_util.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/swagger_server/util.py
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/test-requirements.txt
  Alumnos/ES/NACHO_REYES/FLASK/python-flask-server-generated/tox.ini
Labels: flask

#417 Entrega API-Flask
  Alumnos/ES/Gabriela_Penaherrera/Flask/.dockerignore
  Alumnos/ES/Gabriela_Penaherrera/Flask/.gitignore
  Alumnos/ES/Gabriela_Penaherrera/Flask/.swagger-codegen-ignore
  Alumnos/ES/Gabriela_Penaherrera/Flask/.swagger-codegen/VERSION
  Alumnos/ES/Gabriela_Penaherrera/Flask/.travis.yml
  Alumnos/ES/Gabriela_Penaherrera/Flask/Dockerfile
  Alumnos/ES/Gabriela_Penaherrera/Flask/README.md
  Alumnos/ES/Gabriela_Penaherrera/Flask/git_push.sh
  Alumnos/ES/Gabriela_Penaherrera/Flask/requirements.txt
  Alumnos/ES/Gabriela_Penaherrera/Flask/setup.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/__init__.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/__main__.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/controllers/__init__.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/encoder.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/models/__init__.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/models/base_model_.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/models/medicin.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/test/__init__.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/type_util.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/swagger_server/util.py
  Alumnos/ES/Gabriela_Penaherrera/Flask/test-requirements.txt
  Alumnos/ES/Gabriela_Penaherrera/Flask/tox.ini
Labels: flask

#422 entregable flask
  Alumnos/ES/INES_SOLER/FLASK/Dockerfile
  Alumnos/ES/INES_SOLER/FLASK/README.md
  Alumnos/ES/INES_SOLER/FLASK/git_push.sh
  Alumnos/ES/INES_SOLER/FLASK/requirements.txt
  Alumnos/ES/INES_SOLER/FLASK/setup.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/__init__.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/__main__.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/controllers/__init__.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/encoder.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/models/__init__.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/models/base_model_.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/models/sensor.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/test/__init__.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/type_util.py
  Alumnos/ES/INES_SOLER/FLASK/swagger_server/util.py
  Alumnos/ES/INES_SOLER/FLASK/test-requirements.txt
  Alumnos/ES/INES_SOLER/FLASK/tox.ini
Labels: flask

#434 Flask
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/README.md
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/app.py
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/images/image.png
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/images/image2.png
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/images/image3_2.png
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/requirements.txt
  Alumnos/FS/Pepe_Aguilar_van_der_Hofstadt/Flask/swagger.yaml
  README.md
Labels: flask

#443 ejercicio FLASK
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/__init__.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/__main__.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/controllers/__init__.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/controllers/pet_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/controllers/store_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/controllers/user_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/encoder.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/__init__.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/api_response.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/base_model_.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/category.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/order.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/pet.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/tag.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/models/user.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/test/__init__.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/test/test_pet_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/test/test_store_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/test/test_user_controller.py
  Alumnos/ES/Diego_Pitarch/FLASK/swagger_server/util.py
Labels: flask

#456 Ejercicio final python
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion1/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion1/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion2/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion3/ejercicio3/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio1/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/CURSO_PYTHON/sesion4/ejercicio3/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Python/Ejercicio Final/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Python/sesion4/ejercicio1/archivo.PY
  Alumnos/FS/Lucía-Esteve-Domínguez/Python/sesion4/ejercicio3/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Python/sesion5/ejercicio2/archivo.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Python/sesion5/ejercicio3/archivo.py
Labels: python

#407 E2E Spark
  Alumnos/ES/Jorge_Dominguez/spark/E2E_spark.ipynb
  Alumnos/ES/Jorge_Dominguez/spark/drug_deaths.csv
Labels: spark

#416 Spark_E2E_entrega
  Alumnos/FS/CRISTIAN_MARTY/SPARK/NBA-BoxScores-2023-2024.csv
  Alumnos/FS/CRISTIAN_MARTY/SPARK/README.md
  Alumnos/FS/CRISTIAN_MARTY/SPARK/e2e_spark.ipynb
Labels: spark

#414 Entrega Spark
  Alumnos/ES/Gabriela_Penaherrera/Spark/EntregaSpark (1).ipynb
  Alumnos/ES/Gabriela_Penaherrera/Spark/starbucks.csv
Labels: spark
