Repository a10pepo/EDEM_MDA2324, pull requests merged in 2024-03, with the labels that each got.

#431 Entregable SQL
  Alumnos/ES/Javier_Ruiz/SQL/ejercicios_clase/querys.sql
  Alumnos/ES/Javier_Ruiz/SQL/entregable/README.md
  Alumnos/ES/Javier_Ruiz/SQL/entregable/docker-compose.yml
  Alumnos/ES/Javier_Ruiz/SQL/entregable/docker_composeup.jpg
  Alumnos/ES/Javier_Ruiz/SQL/entregable/dvdrental.tar
  Alumnos/ES/Javier_Ruiz/SQL/entregable/pgadmin_funcionando.jpg
Labels: sql

#615 ejercicio flask
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio0/main.py
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio0/requirements.txt
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio1/main.py
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio1/requirements.txt
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio1/templates/form.html
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio2/app.py
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio2/dockerfile
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio2/requirements.txt
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio2/templates/form.html
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio3/.dockerignore
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio3/__main__.py
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio3/dockerfile
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/ejercicio3/requirements.txt
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/entregable_robot/robot.yaml
  Alumnos/FS/PABLO-PEREZ-ALVAREZ/Flask/entregable_robot/swagger flask.PNG
Labels: flask

#613 FLASK
  Alumnos/ES/HUGO_MARIA/FLASK/.dockerignore
  Alumnos/ES/HUGO_MARIA/FLASK/.gitignore
  Alumnos/ES/HUGO_MARIA/FLASK/.swagger-codegen-ignore
  Alumnos/ES/HUGO_MARIA/FLASK/.swagger-codegen/VERSION
  Alumnos/ES/HUGO_MARIA/FLASK/.travis.yml
  Alumnos/ES/HUGO_MARIA/FLASK/Captura_flask.png
  Alumnos/ES/HUGO_MARIA/FLASK/Dockerfile
  Alumnos/ES/HUGO_MARIA/FLASK/README.md
  Alumnos/ES/HUGO_MARIA/FLASK/git_push.sh
  Alumnos/ES/HUGO_MARIA/FLASK/requirements.txt
  Alumnos/ES/HUGO_MARIA/FLASK/setup.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/__init__.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/__main__.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/controllers/__init__.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/encoder.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/models/__init__.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/models/base_model_.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/test/__init__.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/type_util.py
  Alumnos/ES/HUGO_MARIA/FLASK/swagger_server/util.py
  Alumnos/ES/HUGO_MARIA/FLASK/test-requirements.txt
  Alumnos/ES/HUGO_MARIA/FLASK/tox.ini
Labels: flask

#609 Flask
  Alumnos/ES/BORJA_CABO/FLASK/.dockerignore
  Alumnos/ES/BORJA_CABO/FLASK/Dockerfile
  Alumnos/ES/BORJA_CABO/FLASK/README.md
  Alumnos/ES/BORJA_CABO/FLASK/git_push.sh
  Alumnos/ES/BORJA_CABO/FLASK/requirements.txt
  Alumnos/ES/BORJA_CABO/FLASK/setup.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/__init__.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/__main__.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/controllers/__init__.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/controllers/default_controller.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/encoder.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/models/__init__.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/models/base_model_.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/models/robot.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/swagger/swagger.yaml
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/test/__init__.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/test/test_robot_controller.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/type_util.py
  Alumnos/ES/BORJA_CABO/FLASK/swagger_server/util.py
  Alumnos/ES/BORJA_CABO/FLASK/test-requirements.txt
  Alumnos/ES/BORJA_CABO/FLASK/tox.ini
Labels: flask

#601 Entregable Flask
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/.dockerignore
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/.gitignore
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/.swagger-codegen-ignore
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/.swagger-codegen/VERSION
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/.travis.yml
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/Dockerfile
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/README.md
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/git_push.sh
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/requirements.txt
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/setup.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/__init__.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/__main__.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/controllers/__init__.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/controllers/default_controller.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/encoder.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/models/__init__.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/models/base_model_.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/models/measure.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/swagger/swagger.yaml
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/test/__init__.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/test/test_default_controller.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/type_util.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/swagger_server/util.py
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/test-requirements.txt
  Alumnos/ES/ANTONIO_FAURA/FLASK/python-flask-server-generated-entregable/tox.ini
Labels: flask

#606 Flask API
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Flask/app.py
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Flask/config.yaml
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Flask/index.png
  Alumnos/FS/ELOY-MARTINEZ-GOMEZ/Flask/valor.png
Labels: flask

#572 entregable flask
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/__main__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/requirements.txt
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/.dockerignore
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/.gitignore
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/.swagger-codegen-ignore
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/.swagger-codegen/VERSION
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/.travis.yml
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/Dockerfile
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/README.md
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/git_push.sh
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/requirements.txt
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/setup.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/__init__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/__main__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/controllers/__init__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/controllers/robots_controller.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/encoder.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/models/__init__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/models/base_model_.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/models/robot.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/test/__init__.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/test/test_robots_controller.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/type_util.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/swagger_server/util.py
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/test-requirements.txt
  Alumnos/ES/Pau_Garcia/FLASK/Evaluation_ex/swagger_server/tox.ini
Labels: flask

#537 Ejercicio FLASK
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/app.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/images/image_get.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/images/image_post.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/images/image_principal.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/requirements.txt
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/resultados.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/FLASK/swagger.yaml
Labels: flask

#418 Flask
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/openapi.yaml
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/.gitignore
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/.swagger-codegen-ignore
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/.swagger-codegen/VERSION
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/.travis.yml
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/README.md
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/docs/InlineResponse200.md
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/docs/SensorApi.md
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/git_push.sh
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/setup.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/api/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/api/sensor_api.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/api_client.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/configuration.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/models/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/models/inline_response200.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/swagger_client/rest.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/test-requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/test/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/test/test_inline_response200.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/test/test_sensor_api.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-client-generated (1)/tox.ini
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/.dockerignore
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/.gitignore
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/.swagger-codegen-ignore
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/.swagger-codegen/VERSION
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/.travis.yml
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/Dockerfile
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/README.md
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/git_push.sh
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/setup.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/__main__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/controllers/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/encoder.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/models/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/models/base_model_.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/models/inline_response200.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/test/__init__.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/type_util.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/swagger_server/util.py
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/test-requirements.txt
  Alumnos/ES/Josan_Rodrigo_Cortes/Flask/python-flask-server-generated (2)/tox.ini
Labels: flask

#543 Ejercicio entregable flask
  Alumnos/FS/Pablo Martí Nomdedeu/FLASK/Image3.404.png
  Alumnos/FS/Pablo Martí Nomdedeu/FLASK/api.yml
  Alumnos/FS/Pablo Martí Nomdedeu/FLASK/image1.200.png
  Alumnos/FS/Pablo Martí Nomdedeu/FLASK/image2.400.png
Labels: flask

#620 Entregable Flask
  Alumnos/ES/Miguel_Herrero/Flask/Dockerfile
  Alumnos/ES/Miguel_Herrero/Flask/README.md
  Alumnos/ES/Miguel_Herrero/Flask/git_push.sh
  Alumnos/ES/Miguel_Herrero/Flask/requirements.txt
  Alumnos/ES/Miguel_Herrero/Flask/setup.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/__init__.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/__main__.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/controllers/__init__.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/controllers/robot_controller.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/encoder.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/models/__init__.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/models/base_model_.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/models/robot.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/test/__init__.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/test/test_robot_controller.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/type_util.py
  Alumnos/ES/Miguel_Herrero/Flask/swagger_server/util.py
  Alumnos/ES/Miguel_Herrero/Flask/test-requirements.txt
  Alumnos/ES/Miguel_Herrero/Flask/tox.ini
Labels: flask

#580 Ejercicio Cloud Inés y Yael
  Alumnos/ES/INES_SOLER/CLOUD/artifact.PNG
  Alumnos/ES/INES_SOLER/CLOUD/bucket.PNG
  Alumnos/ES/INES_SOLER/CLOUD/cloud_function.PNG
  Alumnos/ES/INES_SOLER/CLOUD/cloudrun.PNG
  Alumnos/ES/INES_SOLER/CLOUD/conexion_grafana.PNG
  Alumnos/ES/INES_SOLER/CLOUD/datos_sql.PNG
  Alumnos/ES/INES_SOLER/CLOUD/generador.jpeg
  Alumnos/ES/INES_SOLER/CLOUD/grafana.PNG
  Alumnos/ES/INES_SOLER/CLOUD/instancia_postgres.PNG
  Alumnos/ES/INES_SOLER/CLOUD/maquina_virtual.jpeg
  Alumnos/ES/INES_SOLER/CLOUD/secret_manager.PNG
  Alumnos/ES/INES_SOLER/CLOUD/tablas_de_basedatos.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/artifact.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/bucket.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/cloud_function.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/cloudrun.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/conexion_grafana.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/datos_sql.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/generador.jpeg
  Alumnos/ES/Yael_Larrosa/Cloud/grafana.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/instancia_postgres.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/maquina_virtual.jpeg
  Alumnos/ES/Yael_Larrosa/Cloud/secret_manager.PNG
  Alumnos/ES/Yael_Larrosa/Cloud/tablas_de_basedatos.PNG
Labels: cloud

#550 entregable Cloud
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/Grafana.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/README.md
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_1.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_10.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_11.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_12.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_13.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_14.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_15.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_2.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_3.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_4.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_5.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_6.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_7.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_8.png
  Alumnos/ES/ANDRES_RONCANCIO/Cloud Computing/img/Imagen_9.png
Labels: cloud

#576 Cloud jumepre
  Alumnos/ES/JULIAN_MERINO/cloud/Dockerfile
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_cloudfunction.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_cloudfunction_sqldeploy_1.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_cloudfunction_sqldeploy_2.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_cloudrun_grafana_service.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_cloudrun_grafana_service_running.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_data_in_sql_dbeaver.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_docker_repo.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_docker_uploaded.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_generatorscript.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_grafana_dashboard.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_grocerydb_dbeaver.png
  Alumnos/ES/JULIAN_MERINO/cloud/jumepe_cloud_secrets.png
Labels: cloud

#578 Cloud_entregable
  Alumnos/ES/NACHO_REYES/CLOUD/captura-.sql-bucket.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-artifact.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-bbdd-1.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-bbdd-2.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-cloud-run-2.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-cloud-run.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-creacion-bucket.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-creacion-vm.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-insercion-datos-bbdd.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-secretos.png
  Alumnos/ES/NACHO_REYES/CLOUD/captura-service-account-bucket.png
Labels: cloud

#581 CLOUD
  Alumnos/ES/HUGO_MARIA/CLOUD/1.tablas_en_postgres_shell.png
  Alumnos/ES/HUGO_MARIA/CLOUD/BBDD_prueba.png
  Alumnos/ES/HUGO_MARIA/CLOUD/cloud_function_final.png
  Alumnos/ES/HUGO_MARIA/CLOUD/cloud_function_lista.png
  Alumnos/ES/HUGO_MARIA/CLOUD/cloud_function_setup.png
  Alumnos/ES/HUGO_MARIA/CLOUD/conexion_proxy.png
  Alumnos/ES/HUGO_MARIA/CLOUD/creacion_postgres.png
  Alumnos/ES/HUGO_MARIA/CLOUD/creacion_secrets.png
  Alumnos/ES/HUGO_MARIA/CLOUD/envio_dato_maquina_virtual.png
  Alumnos/ES/HUGO_MARIA/CLOUD/grafana_final.png
  Alumnos/ES/HUGO_MARIA/CLOUD/schema_postgres.png
  Alumnos/ES/HUGO_MARIA/CLOUD/sql_gcloud.png
  Alumnos/ES/HUGO_MARIA/CLOUD/test_conexion_postgres.png
Labels: cloud

#598 Entregable Cloud
  Alumnos/ES/ANTONIO_FAURA/CLOUD/1.EnableApis.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/10.CloudRun.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/11.ImagenDockerParaEjecutarGrafana.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/12.GrafanaCloudRun.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/13.Generador.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/14.DashboardGrafana.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/2.VMInstance.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/3.Bucket.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/4.InstanciaSQL.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/5.AñadidoScriptCreaciondeTablas.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/6.ImportamosPorLaInstancia.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/7.KSQL.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/8.DBeaver.jpeg
  Alumnos/ES/ANTONIO_FAURA/CLOUD/9.CloudFunction.jpeg
Labels: cloud

#612 Entregable Cloud Postwork
  Alumnos/ES/Javier_Ruiz/Cloud/images/01-maquinavirtual.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/02-bucket.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/03-tablasdb.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/04-tablasdbeaver.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/05-cloudfunction.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/06-artifact.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/07-bddllena.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/08-grafana.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/generador_corriendo.jpg
  Alumnos/ES/Javier_Ruiz/Cloud/images/mi_instanciasql.jpg
Labels: cloud

#618 Cloud
  Alumnos/ES/BORJA_CABO/CLOUD/01.Permisos.png
  Alumnos/ES/BORJA_CABO/CLOUD/02.VM.png
  Alumnos/ES/BORJA_CABO/CLOUD/03.Bucket.png
  Alumnos/ES/BORJA_CABO/CLOUD/04.PostgresSQL.png
  Alumnos/ES/BORJA_CABO/CLOUD/05.Tablas-subidas.png
  Alumnos/ES/BORJA_CABO/CLOUD/06.ImportarSQL.png
  Alumnos/ES/BORJA_CABO/CLOUD/07.ConexionSQL.png
  Alumnos/ES/BORJA_CABO/CLOUD/08.Secrets.png
  Alumnos/ES/BORJA_CABO/CLOUD/09.Cloud Functions.png
  Alumnos/ES/BORJA_CABO/CLOUD/10.Cloud Run.png
  Alumnos/ES/BORJA_CABO/CLOUD/11.Docker.png
  Alumnos/ES/BORJA_CABO/CLOUD/12.Grafana.png
  Alumnos/ES/BORJA_CABO/CLOUD/13.Generator.py.png
  Alumnos/ES/BORJA_CABO/CLOUD/14.DBeaver.png
  Alumnos/ES/BORJA_CABO/CLOUD/15.Grafana.png
Labels: cloud

#629 CLOUD_ENTREGABLE
  Alumnos/ES/Pau_Garcia/CLOUD/Screenshot 2024-02-29 at 22.34.52.png
  Alumnos/ES/Pau_Garcia/CLOUD/Screenshot 2024-02-29 at 22.35.06.png
  Alumnos/ES/Pau_Garcia/CLOUD/Screenshot 2024-02-29 at 22.35.22.png
  Alumnos/ES/Pau_Garcia/CLOUD/Screenshot 2024-02-29 at 22.35.49.png
  Alumnos/ES/Pau_Garcia/CLOUD/Screenshot 2024-02-29 at 22.36.06.png
Labels: cloud

#541 Subida ejercicio Pyspark
  Alumnos/FS/JUAN CORNEJO/SPARK/Entregable_JUAN_CORNEJO_Y_LUCIA_ESTEVE.ipynb
  Alumnos/FS/JUAN CORNEJO/SPARK/Friends_emotions.csv
  Alumnos/FS/JUAN CORNEJO/SPARK/Nuevo Documento de texto.txt
  Alumnos/FS/JUAN CORNEJO/SPARK/friends_info.csv
Labels: spark

#604 ejercicio spark
  Alumnos/FS/Lucía-Esteve-Domínguez/Spark/Entregable_JUAN_CORNEJO_Y_LUCIA_ESTEVE.ipynb
  Alumnos/FS/Lucía-Esteve-Domínguez/Spark/Friends_emotions.csv
  Alumnos/FS/Lucía-Esteve-Domínguez/Spark/Nuevo Documento de texto.txt
  Alumnos/FS/Lucía-Esteve-Domínguez/Spark/friends_info.csv
Labels: spark

#574 Spark con Miguel
  Alumnos/ES/BORJA_CABO/SPARK/Data.csv
  Alumnos/ES/BORJA_CABO/SPARK/entregable_spark.ipynb
Labels: spark

#571 ENTREGABLE SPARK
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/SPARK/Accidentes_aereos.ipynb
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/SPARK/Airplane_crashes.csv
Labels: spark

#595 Entregable_SPARK
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/SPARK/data/2018.csv
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/SPARK/data/2019.csv
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/SPARK/data/economic_freedom.csv
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/SPARK/entregable_spark.ipynb
Labels: spark

#631 Entregable dataflow
  Alumnos/ES/Javier_Ruiz/Dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Javier_Ruiz/Dataflow/generator.py
  Alumnos/ES/Javier_Ruiz/Dataflow/imagenes/bigquery.jpg
  Alumnos/ES/Javier_Ruiz/Dataflow/imagenes/pubsub-multa.jpg
  Alumnos/ES/Javier_Ruiz/Dataflow/imagenes/pubsub.jpg
  Alumnos/ES/Javier_Ruiz/Dataflow/requirements.txt
Labels: dataflow

#575 Entregable Dataflow
  Alumnos/ES/Miguel_Herrero/Dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Miguel_Herrero/Dataflow/bigquery.png
  Alumnos/ES/Miguel_Herrero/Dataflow/dataflow.png
  Alumnos/ES/Miguel_Herrero/Dataflow/generator.py
  Alumnos/ES/Miguel_Herrero/Dataflow/requirements.txt
  Alumnos/ES/Miguel_Herrero/Dataflow/topic_subscription.png
Labels: dataflow

#590 [ADDED] Deliverable files
  Alumnos/ES/JULIAN_MERINO/README.md
  Alumnos/ES/JULIAN_MERINO/dataflow/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/JULIAN_MERINO/dataflow/cmd_execution.txt
  Alumnos/ES/JULIAN_MERINO/dataflow/madisonsquaregarden_to_barclayscenter.kml
  Alumnos/ES/JULIAN_MERINO/dataflow/requirements.txt
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_DataflowRunner.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_DataflowRunner_deployed.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_DataflowRunner_graph.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_bigquery_fined.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_bucket.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_directrunner.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_finedcar.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_generator.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_pubsub_01.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_pubsub_02.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_pubsub_nonfined.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_pubsub_traffic.png
  Alumnos/ES/JULIAN_MERINO/dataflow/screenshots/jumepe_dataflow_venv.png
Labels: dataflow

#603 dataflow_entrega
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/README.md
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/bigquerydata.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/generator_running.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/input_camera_pubsub.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/job_running.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/output_camera_pubsub.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/vehicle_storage_2.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/vehicles_multados.png
  Alumnos/FS/CRISTIAN_MARTY/DATAFLOW/img/vehicles_storage.png
Labels: dataflow

#611 Dataflow
  Alumnos/ES/BORJA_CABO/DATAFLOW/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/BORJA_CABO/DATAFLOW/generator.py
  Alumnos/ES/BORJA_CABO/DATAFLOW/images/Multados.png
  Alumnos/ES/BORJA_CABO/DATAFLOW/images/Pubsub.png
  Alumnos/ES/BORJA_CABO/DATAFLOW/images/Pubsub_no_multados.png
  Alumnos/ES/BORJA_CABO/DATAFLOW/requirements.txt
Labels: dataflow

#616 Subida borrador DF
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/Code/Codigos_terminal.sh
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/Code/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/Code/generator.py
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/Code/requirements.txt
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/almacenamiento_fotos_vehiculos.png
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/generador_al_pubsub.png
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/grafica_pipeline.png
  Alumnos/FS/JUAN CORNEJO/DATAFLOW/pubsub_destino.png
Labels: dataflow

#614 Capturas Grafana, Cloud SQL y Cloud Run
  Alumnos/FS/JUAN CORNEJO/CLOUD/Grafana.jpg
  Alumnos/FS/JUAN CORNEJO/CLOUD/base_datos_cloud_sql.png
  Alumnos/FS/JUAN CORNEJO/CLOUD/servicio_grafana_acitvado_cloud_run.png
Labels: cloud

#626 Ejercicio Cloud
  Alumnos/FS/JESUS_JORNET_ORTI/CLOUD/VM.png
  Alumnos/FS/JESUS_JORNET_ORTI/CLOUD/cloud_function.jpeg
  Alumnos/FS/JESUS_JORNET_ORTI/CLOUD/grafana.jpeg
  Alumnos/FS/JESUS_JORNET_ORTI/CLOUD/relational_model.jpeg
  Alumnos/FS/JESUS_JORNET_ORTI/CLOUD/table_customer.jpeg
Labels: cloud

#607 Dataflow
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/Pipeline_bq.py
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/api/api_geolocalizacion.py
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/generador.py
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/pipeline.py
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/requirements.txt
  Alumnos/FS/Adriana_Campos/Dataflow/codigo/run.py
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/arquitectura.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/coche1.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/coche2.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/dataflow_cloud.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/input_BQ.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/output_BQ_fined.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/pubSub_input.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/pubSub_output.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/ruta_camara.png
  Alumnos/FS/Adriana_Campos/Dataflow/imagenes/table_non_fined.png
  Alumnos/FS/Adriana_Campos/Dataflow/readme.md
Labels: dataflow

#556 SPARK entregable
  Alumnos/ES/ANDRES_RONCANCIO/spark/README.md
  Alumnos/ES/ANDRES_RONCANCIO/spark/img/imagen1.png
  Alumnos/ES/ANDRES_RONCANCIO/spark/img/imagen2.png
  Alumnos/ES/ANDRES_RONCANCIO/spark/img/imagen3.png
  Alumnos/ES/ANDRES_RONCANCIO/spark/img/imagen4.png
  Alumnos/ES/ANDRES_RONCANCIO/spark/img/imagen5.png
  Alumnos/ES/ANDRES_RONCANCIO/spark/resources/Video_Games_Sales_2018.csv
  Alumnos/ES/ANDRES_RONCANCIO/spark/resources/vgames_spain.csv
Labels: spark

#562 SPARK
  Alumnos/ES/HUGO_MARIA/SPARK/README.md
  Alumnos/ES/HUGO_MARIA/SPARK/img/imagen1.png
  Alumnos/ES/HUGO_MARIA/SPARK/img/imagen2.png
  Alumnos/ES/HUGO_MARIA/SPARK/img/imagen3.png
  Alumnos/ES/HUGO_MARIA/SPARK/img/imagen4.png
  Alumnos/ES/HUGO_MARIA/SPARK/img/imagen5.png
  Alumnos/ES/HUGO_MARIA/SPARK/resources/Video_Games_Sales_2018.csv
  Alumnos/ES/HUGO_MARIA/SPARK/resources/vgames_spain.csv
  Alumnos/ES/HUGO_MARIA/SPARK/solucion_ ejercicio_clase.py
Labels: spark

#624 Entregable Spark
  Alumnos/FS/JESUS_JORNET_ORTI/SPARK/entregable_spark.ipynb
Labels: spark

#583 Entregable Cloud Serverless
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/generator.py
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/image/FotoGenerador.PNG
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/image/bgq.PNG
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/image/dflocal.png
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/image/pubsub.PNG
  Alumnos/ES/Francisco_Tudela/CLOUD_SERVERLESS/requirements.txt
Labels: cloud

#539 dataflow
  Alumnos/FS/Stas Korotchenko/DATAFLOW/dataflow.png
  Alumnos/FS/Stas Korotchenko/DATAFLOW/dataflow.py
  Alumnos/FS/Stas Korotchenko/DATAFLOW/generator.py
  Alumnos/FS/Stas Korotchenko/DATAFLOW/la tabla bigquery.png
  Alumnos/FS/Stas Korotchenko/DATAFLOW/requirements.txt
Labels: dataflow

#628 Ejercicio Kafka
  Alumnos/FS/JESUS_JORNET_ORTI/KAFKA/Imagen/captura.png
  Alumnos/FS/JESUS_JORNET_ORTI/KAFKA/consumer.py
  Alumnos/FS/JESUS_JORNET_ORTI/KAFKA/docker-compose.yml
  Alumnos/FS/JESUS_JORNET_ORTI/KAFKA/producer.py
  Alumnos/FS/JESUS_JORNET_ORTI/KAFKA/readme.md
Labels: kafka

#621 Entregable Kafka
  Alumnos/ES/Miguel_Herrero/Kafka/consumer.py
  Alumnos/ES/Miguel_Herrero/Kafka/docker-compose.yml
  Alumnos/ES/Miguel_Herrero/Kafka/images/1.Docker.png
  Alumnos/ES/Miguel_Herrero/Kafka/images/2.Producer.png
  Alumnos/ES/Miguel_Herrero/Kafka/images/3.Consumer.png
  Alumnos/ES/Miguel_Herrero/Kafka/images/4.MensajesConfluent.png
  Alumnos/ES/Miguel_Herrero/Kafka/images/5.KSQL.png
  Alumnos/ES/Miguel_Herrero/Kafka/images/6.BuscarPalabras_R.png
  Alumnos/ES/Miguel_Herrero/Kafka/libro.txt
  Alumnos/ES/Miguel_Herrero/Kafka/postwork.properties
  Alumnos/ES/Miguel_Herrero/Kafka/producer.py
  Alumnos/ES/Miguel_Herrero/Kafka/producer2.py
  Alumnos/ES/Miguel_Herrero/Kafka/readme.md
Labels: kafka

#619 Kafka
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/consulta01.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/consulta02.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/consulta03.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/consumer.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/destinatios_filtered.txt
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/docker-compose.yml
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/ksql.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/proceso.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/producer.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/KAFKA/readme.md
Labels: kafka

#610 Kafka
  Alumnos/ES/BORJA_CABO/KAFKA/README.md
  Alumnos/ES/BORJA_CABO/KAFKA/consumer.py
  Alumnos/ES/BORJA_CABO/KAFKA/docker-compose.yml
  Alumnos/ES/BORJA_CABO/KAFKA/dockerfile
  Alumnos/ES/BORJA_CABO/KAFKA/images/Consulta1.png
  Alumnos/ES/BORJA_CABO/KAFKA/images/Consulta2.png
  Alumnos/ES/BORJA_CABO/KAFKA/images/Consulta3.png
  Alumnos/ES/BORJA_CABO/KAFKA/images/Docker-compose.png
  Alumnos/ES/BORJA_CABO/KAFKA/images/Producer.png
  Alumnos/ES/BORJA_CABO/KAFKA/producer.py
  Alumnos/ES/BORJA_CABO/KAFKA/requirements.txt
  Alumnos/ES/BORJA_CABO/KAFKA/ufc.json
Labels: kafka

#602 Entregable Kafka
  Alumnos/ES/ANTONIO_FAURA/KAFKA/READ.ME
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/1.LevantarContenedores.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/2.ProducerEnviandoMensajes.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/3.IniciamosKSQL.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/4.CreamosTablaFumadores.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/5.PriemeraQueryMensajesEnTabla.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/capturas/6.CreamosTablaPorGenero.jpeg
  Alumnos/ES/ANTONIO_FAURA/KAFKA/consumer.py
  Alumnos/ES/ANTONIO_FAURA/KAFKA/docker-compose.yml
  Alumnos/ES/ANTONIO_FAURA/KAFKA/fumadores_uklandia.csv
  Alumnos/ES/ANTONIO_FAURA/KAFKA/producer.py
Labels: kafka

#597 Kafka
  Alumnos/ES/Pau_Garcia/KAFKA/README.md
  Alumnos/ES/Pau_Garcia/KAFKA/consumer.py
  Alumnos/ES/Pau_Garcia/KAFKA/docker-compose.yaml
  Alumnos/ES/Pau_Garcia/KAFKA/dockerfile
  Alumnos/ES/Pau_Garcia/KAFKA/entrypoint.sh
  Alumnos/ES/Pau_Garcia/KAFKA/ksql.sh
  Alumnos/ES/Pau_Garcia/KAFKA/producer.py
  Alumnos/ES/Pau_Garcia/KAFKA/radar.json
  Alumnos/ES/Pau_Garcia/KAFKA/requirements.txt
  Alumnos/ES/Pau_Garcia/KAFKA/screenshots/docker-compose.png
  Alumnos/ES/Pau_Garcia/KAFKA/screenshots/init_ksql_cli.png
  Alumnos/ES/Pau_Garcia/KAFKA/screenshots/init_ksql_terminal.png
  Alumnos/ES/Pau_Garcia/KAFKA/screenshots/producer.png
  Alumnos/ES/Pau_Garcia/KAFKA/screenshots/query.png
Labels: kafka

#593 kafka ej pablo
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/README.MD
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/datasets-selected=text.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/dcoker-compose.yml
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/image-ksql.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/image2-ksql.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/imagen-ksql.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/inicio-producer.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/lectura-topic.png
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/libro.txt
  Alumnos/FS/Pablo Martí Nomdedeu/KAFKA/producer.py
Labels: kafka

#568 KAFKA
  Alumnos/ES/HUGO_MARIA/KAFKA/README.md
  Alumnos/ES/HUGO_MARIA/KAFKA/consumer.py
  Alumnos/ES/HUGO_MARIA/KAFKA/docker-compose.yml
  Alumnos/ES/HUGO_MARIA/KAFKA/img/consumer_terminal.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/docker_build.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/ksql_creacion_tablas.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/ksql_output.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/ksql_terminal.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/producer_ui.png
  Alumnos/ES/HUGO_MARIA/KAFKA/img/productor_terminal.png
  Alumnos/ES/HUGO_MARIA/KAFKA/producer.py
  Alumnos/ES/HUGO_MARIA/KAFKA/supermarket-sales.csv
Labels: kafka

#569 ENTREGABLE KAFKA
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/consumer.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/docker-compose.yml
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/inicio_ksql.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/nivel_riesgo.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/producer_consumer.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/riesgo_elevado.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/topic1.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/images/topic2.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/producer.py
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/readme.md
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/KAFKA/requirements.txt
Labels: kafka

#553 Ejercicio Kafka
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/Arquitectura.md
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/Ingestion.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/KSQL.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/Procesamiento.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/Readme.md
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/consumer.py
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/docker-compose.yml
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/example1.json
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/example2.json
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/producer.py
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Kafka/requirements.txt
Labels: kafka

#549 Entregable Kafka
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/Captura de pantalla 2024-02-23 a las 16.05.37.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/Confluent.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/Docker-compose up.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/consumer.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/contar.letras.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/crear tabla.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/palabras > 12 letras.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/palabras con m.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/producer.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/topic_postwork.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Capturas/visualizar tabla.png
  Alumnos/ES/BALMA_AGOST/KAFKA/Docker-compose.yml
  Alumnos/ES/BALMA_AGOST/KAFKA/consumer.py
  Alumnos/ES/BALMA_AGOST/KAFKA/libro.txt
  Alumnos/ES/BALMA_AGOST/KAFKA/postwork.properties
  Alumnos/ES/BALMA_AGOST/KAFKA/producer.py
  Alumnos/ES/BALMA_AGOST/KAFKA/producer2.py
  Alumnos/ES/BALMA_AGOST/KAFKA/readme.txt
Labels: kafka

#548 Entregable KAFKA
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/consumer_transformer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/cosumer_high.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/docker-compose.yml
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/entregable.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/images/Diagrama.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/images/Imagen_completa.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/images/KSQL_creation.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/images/Tabla_KSQL.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/entregable/producer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image10.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image11.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image12.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image13.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image14.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image15.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image16.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image17.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image7.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image8.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise1/images/image9.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise2/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise2/img_1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/client.properties
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/consumer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/docker-compose.yml
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/dockerfile_consumer
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/dockerfile_producer
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/images/image6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise3/producer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/consumer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise4/producer.py
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/README.md
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/docker-compose.yml
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_1.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_2.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_3.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_4.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_5.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_6.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_7.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/images/img_8.png
  Alumnos/FS/CARLOS-FERRER-SANCHEZ/KAFKA/python/exercise6/postgresqlSourceConnectConfig.json
Labels: kafka

#546 KAKFA
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/README
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/caso_uso.md
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/client.properties
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/consumer.py
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/dataset tenis.csv
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/docker-compose.yml
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/KSQL.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/TOPICKSQL.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/conexionKSQL.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/consumer.py.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/consumo.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/producer.py.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/topic-tenis.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/imagenes/topic1.png
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/ksql indicaciones.md
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/producer.py
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/producerksql.py
  Alumnos/FS/MAR-PONS-VALVERDE/KAKFA/POSTWORK/tenis.txt
Labels: kafka

#497 Entregable Flask
  Alumnos/ES/Javier_Ruiz/Flask/.dockerignore
  Alumnos/ES/Javier_Ruiz/Flask/.gitignore
  Alumnos/ES/Javier_Ruiz/Flask/.swagger-codegen-ignore
  Alumnos/ES/Javier_Ruiz/Flask/.swagger-codegen/VERSION
  Alumnos/ES/Javier_Ruiz/Flask/.travis.yml
  Alumnos/ES/Javier_Ruiz/Flask/Dockerfile
  Alumnos/ES/Javier_Ruiz/Flask/README.md
  Alumnos/ES/Javier_Ruiz/Flask/git_push.sh
  Alumnos/ES/Javier_Ruiz/Flask/requirements.txt
  Alumnos/ES/Javier_Ruiz/Flask/setup.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/__init__.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/__main__.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/controllers/__init__.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/controllers/authorization_controller.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/controllers/sensor_controller.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/encoder.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/models/__init__.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/models/base_model_.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/models/measure.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/swagger/swagger.yaml
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/test/__init__.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/test/test_sensor_controller.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/type_util.py
  Alumnos/ES/Javier_Ruiz/Flask/swagger_server/util.py
  Alumnos/ES/Javier_Ruiz/Flask/test-requirements.txt
  Alumnos/ES/Javier_Ruiz/Flask/tox.ini
Labels: flask

#536 EntregableKafka
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Consumer ejecutado.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Contenedor levantado.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/KSQL desde terminal.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Kafka UI con topic.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Lista de topics.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Producer ejecutado.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Query final.png
  Alumnos/ES/Luis_Segura/Kafka/Capturas/Stream creado.png
  Alumnos/ES/Luis_Segura/Kafka/Readme
  Alumnos/ES/Luis_Segura/Kafka/consumer.py
  Alumnos/ES/Luis_Segura/Kafka/datasetramen.csv
  Alumnos/ES/Luis_Segura/Kafka/docker-compose.yml
  Alumnos/ES/Luis_Segura/Kafka/producer.py
Labels: kafka

#645 DATAFLOW
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/EDEM_Dataflow_Streaming_Pipeline.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/dataflow.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/generator.py
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/multados.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/no-multados.png
  Alumnos/FS/FERNANDO-CABRERA-CARBONELL/DATAFLOW/02_Code/requirements.txt
Labels: dataflow

#647 EJERCICIO DATAFLOW
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DATAFLOW/BIGQUERY.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DATAFLOW/DATAFLOW.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DATAFLOW/PUBSUB.png
  Alumnos/FS/JACKELINE-ROMERO-MATEGO/DATAFLOW/VSC.png
Labels: dataflow

#555 Ejercicio Cloud
  Alumnos/FS/Pablo_Ivorra/Cloud/Captura de pantalla 2024-02-09 211650.png
  Alumnos/FS/RAFAEL-PEREZ-MORALES/Cloud/Captura de pantalla 2024-02-09 211650.png
Labels: cloud

#622 CloudEntregable
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud10.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud11.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud12.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud13.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud14.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud15.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud16.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud17.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud18.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud19.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud2.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud3.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud4.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud5.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud6.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud7.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud8.png
  Alumnos/ES/Luis_Segura/Cloud/Capturas/EntregableCloud9.png
Labels: cloud

#617 Ejercicio kafka
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Clase_venta.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Creacion_streams_KSQL.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Creacion_topics.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Producer.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Productor_inicial.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/Topics.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/consumer y creacion topics.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/docker-compose.yml
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/dockerfile
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/json.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/main.py
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/mensajes.jpeg
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/readme.md
  Alumnos/FS/Lucía-Esteve-Domínguez/Kafka/requirements.txt
Labels: kafka
